/*
****************************************************************************************************
    COMUN
****************************************************************************************************
*/
/* Por defecto */
body {
	background-color: #2A2A2A;
	color: #fff;
}
div.content {
	width: 100% !important;
	max-width: 100% !important;
}
html{
	scroll-behavior: smooth;
}
section{
	border: 6px solid #41494d !important;
}
.width100{
    width: 100%;
}
/*
****************************************************************************************************
    PRINCIPAL-HOME
****************************************************************************************************
*/
.home{
    margin-top: 10%;
}
.home-text{
    padding-left: 20px;
    color: #BFB597  ;
    font-size: 40px;
	text-align: center;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 1px black;
}
.home-2{
    margin-top: 2%;
}
.seccion-baraja{
	 /*background-image: linear-gradient(to right, #2f3c45, #2E272E);*/
	 background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/home/home/baraja-fondo.jpg");
	 background-repeat: repeat-y;
	 margin: 100px 0px 100px 0px;
}
.seccion-info{
	background-color: #202020 !important;;
	padding: 50px 0px 50px 0px;
	margin: 0px 0px 30px 0px;
}
.rounded-circle{
	max-width: 90%;
}
.baraja-home{
	/*border: 10px solid #9A8056;*/
	/*border-style: ridge;*/
	padding: 80px;
}
.baraja-text{
	color: white;
	font-size: 50px;
}
#fotoHome{
    float: right;
	max-width: 80%;
}
/* Boton registro */
.registration-btn{
    font-size: 55px;
    background: linear-gradient(to right, #9A8056, #CFAB71, #9A8056);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 500px;
    height: 100px;
	max-width: 100%;
}
/*.div-registration:hover{
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}*/
.div-registration{
    background-color: transparent;
	text-align: center;
	max-width: 100%;
	padding-top: 80px;
    /*margin-top: -50px;*/
    /*z-index:15;*/
    /*position:absolute;*/
    /*margin-left: 50%;*/
    /*left: -250px;*/
}
.registration-btn:hover{
	border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #9A8056;
}
/*
****************************************************************************************************
    PRINCIPAL-QUIENES
****************************************************************************************************
*/
.seccion-info img{
	max-width: 350px;
	transition: transform .5s ease;
}
.quienes-text{
	color: white;
	font-size: 20px;
}
.que-section{
	border-radius: 15px 20px;
	border: 2px solid white;
	margin: 40px;
	display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;

}
.que-section:hover{
	box-shadow: 5px 5px 5px #aaaaaa;
	cursor: pointer;
}

.modal-que{
   background-color: #202020 !important;
}

#queModalCenter{
	margin: 100px 0px 30px 0px;
}
/*
****************************************************************************************************
    NAVBAR
****************************************************************************************************
*/

/* Carousel */
.carousel-item>video {
   max-width: 100%;
   width:100%;
}
/* Navbar */
.nav-link{
    font-size: 25px !important;
    }
.navbar{
    border-bottom:5px solid #9A8056;
	background-color: #202020 !important;
}
.navbar-nav > li{ padding-left:25px; padding-right:25px;}
.nav-link {
   font-family:  'Open Sans Condensed', sans-serif;
   font-weight: bold;
   background: linear-gradient(to right, #9A8056, #CFAB71, #9A8056);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }
 .nav-link:hover{
  border-bottom: 2px solid #9A8056;
 }
 .dropdown-item-submenu{
    font-size: 35px;
    width: auto;
    font-family:  'Open Sans Condensed', sans-serif;
    background: linear-gradient(to right, #9A8056, #CFAB71, #9A8056);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	background-color: #202020 !important;
  }
 .dropdown-item{
   color: white;
  }
 /*
 ****************************************************************************************************
     PRINCIPAL-CONTACTO
 ****************************************************************************************************
 */
 .contact  i{
	 background-color: transparent;
 }
 .form-group-contact {
	 background-color: transparent;
 }
 .contact-form .form-control {
	 background-color: transparent !important;
	 margin-bottom: 10px;
 }
 .jumbotron{
	  background-color: #202020 !important;
	 margin-top: 50px;
 }
 .button-contact{
	background-color: #202020 !important;
 }
/*
****************************************************************************************************
    FOOTER
****************************************************************************************************
*/
.footer-copyright{
    color: white;
}
.page-footer{
	width: 100%;
	margin-top: 20px;
	background-color: #202020 !important;
}
.fab {
  color: white;
}
.div-icons{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}
/*
****************************************************************************************************
    REGISTRO - #Form
****************************************************************************************************
*/
.form-group{
    color: white;
    background-color: #202020;
    margin-top: 5px;
}
.form-control>option{
    background-color: #202020;
    color: white;
}
#dropdownMenuButton{
    width:100%;
    text-align: left;
}
.dropdown-menu{
    background-color: #202020;
    width:100%;
}
.form-registration-btn{
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(to right, #9A8056, #CFAB71, #9A8056);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.data-div{
    padding-left: 10px;
}
.filter-option{
    background-color: #202020;
    color: white;
}
.modal-header{
    background: linear-gradient(to right, #9A8056, #CFAB71, #9A8056);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
select.form-control {
	background-color: #202020;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.modal-registration{
	background-color: #202020;
}
.form-control{
   background-color: #202020;
}

 /*
 ****************************************************************************************************
     HOME - #Imagenes
 ****************************************************************************************************
 */
.img-fluid{
	max-width: 100%;
	height: 100%;
	max-height: 400px;
}
.carusel-img{
	margin-top:200px;
}
.carousel-control-prev-icon{
	height: 100px;
	width: 100px;
	border-radius: 15px;
	background-image: url(../img/icons/arrow-left.png);
}
.carousel-control-next-icon{
	height: 100px;
	width: 100px;
	border-radius: 15px;
	background-image: url(../img/icons/arrow-right.png);
}
/*
****************************************************************************************************
    PERFIL - #Tabs
****************************************************************************************************
*/
.lateral-menu{
    border-right: 5px solid #9A8056;
    border-bottom: 5px solid #9A8056;
    text-align: center;
}
.cromo{
    margin-top: 10%;
}

.cromo-btn{
    background: linear-gradient(to right, #9A8056, #CFAB71, #9A8056);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10%;
    margin-bottom: 10%;
    font-family:  'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 26px;
}

.info-perfil{
    border: 5px solid #41494d;
    margin-top: 2%;
    height: auto;
    padding: 1%;

}

.tabs{
    margin-top: 2%;
	margin-bottom: 2%;
}
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
    border-color: #9A8056;
    border-bottom-color: transparent;
}
.form-perfil{
    color: white;
    background-color: #181d20;
    margin: 3%;
    font-size: 26px;
}

.form-perfil-control{
    background-color: #2f3c45;
    color: white;
    font-size: 25px;
    height: 50px;
    width: 100%;
    padding-left: 10px;
}

.form-perfil-control-multi{
    background-color: #2f3c45;
    color: white;
    font-size: 25px;
    height: 50px;
    width: 710px;
    margin-left: -2% !important;
}

select.form-perfil-control {
  margin: 0;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 -webkit-appearance: none;
 -moz-appearance: none;
}

/*
****************************************************************************************************
    PERFIL - #BarraLateral
****************************************************************************************************
*/

/* CABECERA DE LA BARRA LATERAL */

.sidebar-header {
	text-align: center;
	border-bottom: 2px solid #41494d;
	padding: 40px 15px 33px;
	background-color: #1f282d;
}
.sidebar-header .user-name {
	margin-top: 15px;
	font-size: 20px;
	font-weight: 300;
	color: #fff;
}

.img-cromo{
    width: 325px;
    border: 15px solid #9A8056;
    border-style: ridge;
}
/*
****************************************************************************************************
    PERFIL - #TabDatosAdicionales
****************************************************************************************************
*/

#trending-videos .video-info .video-info-title > a {
	font-size: 16px;
	color: #fff;
}
.panel {
	background-color: #181d20;
	transition: all .3s ease;
	border: 0px;
	width: 100%;
}
.panel-heading {
	line-height: 50px !important;
	padding: 0px 30px !important;
	border-bottom: 2px solid #41494d !important;
	background-color: #1f282d !important;
	color: #ffab40 !important;
}
.panel-title {
	line-height: 50px;
	text-transform: uppercase;;
}
.panel-body {
	padding: 10px 30px;
}

.datos-dicionales{
	margin-top: 20px;
}
.video-thumb video {
	margin: 10px;
	max-width: 300px;
}
.video-add{
	padding-left: 40%;
	padding-top: 25%;
}
.panel-networks{
	margin-bottom: 30px;
}
.panel-networks .panel-body{
	padding: 30px;
}

/*
****************************************************************************************************
    PERFIL - #TabDatosAdicionales
****************************************************************************************************
*/
.table{
	color: white;
	font-size: 20px;
}
.table > thead{
	font-size: 25px !important;
}
.mail-ver{
	background-color: #9A8056 !important;
	border: 1px solid #9A8056;
}

/*
****************************************************************************************************
    PERFIL - MENSAJES
****************************************************************************************************
*/
#mensajes tr:hover{
	color: #9A8056;
	cursor: pointer;
}
/*
****************************************************************************************************
    ESCRITORIO
****************************************************************************************************
*/
@media(min-width:1200px){
   .form-control{
	  font-size: 25px;
	  height: 50px;
   }
   .form-control>option{
	  font-size: 25px;
   }
   .modal-registration{
	  max-width: 80% !important;
	  margin-left: 12%;
   }

}
/*
****************************************************************************************************
    OTROS
****************************************************************************************************
*/
@media(max-width:1199px){
   .form-control{
	   font-size: 30px;
	   height: 90px;
   }
   .data-div>label{
	   font-size: 30px;
   }
   .modal-registration{
	   max-width: 100% !important;
   }
}
/*Logo responsive*/
img.logo-responsive{
  height: 150px;
  width: 190px;
}
.caja{
   float: right;
   text-align: center;
}
.navbar-toggler-icon{
  height: 120px;
  width: 120px;
}
