{% autoescape off %}
<html>
{% load static %}
<div style="background-color: #202020; width: 100%; height: 15%; margin-bottom: 10%; border-bottom:5px solid #9A8056;">
    <div>
        <span><img style="width: 40%; margin: 2px 0px 0px 5%;" src="https://i.ibb.co/3rHHgLJ/logo.png" /></span>
    </div>
</div>
{% if lan == 'en-en' %}
<p style="font-size: 100%;">
    <b>Your account has been discharged.</b>
    From SIA Sports Agency we thank you for the trust placed in us during this time
</p>
<p>
    <h2 style="font-size: 100%;">
        Greetings from the SIA Sport Agency team.
    </h2>
</p>
{% else %}
<p style="font-size: 100%;">
    <b>Su cuenta ha sido dada de baja.</b> Desde SIA Sports Agency le agradecemos
    la conﬁanza depositada en nosotros durante este tiempo.
</p>
<p style="font-size: 100%;">
    Un saludo del equipo de SIA Sports Agency.
</p>
{% endif %}

<div style="text-align: center; background-color: #202020; width: 100%; height: 100px; margin-top: 10%;">
    <img style="width: 35%; margin-top: 20px;" src="https://siasportsagency.com/static/img/mail/footer.png" />
    <p style="margin-top: 5px;">
        <a style="font-size: 80%; color:white;" href="https://www.siasportsagency.com">www.siasportsagency.com</a>
    </p>
</div>
<html>
{% endautoescape %}
