{% autoescape off %}
<html>
{% load static %}
<div style="background-color: #202020; width: 100%; height: 15%; margin-bottom: 10%; border-bottom:5px solid #9A8056;">
    <div>
        <span><img style="width: 40%; margin: 2px 0px 0px 5%;" src="https://i.ibb.co/3rHHgLJ/logo.png" /></span>
    </div>
</div>
{% if lan == 'en-en' %}
<h1 style="font-size: 100%;"> Welcome to SIA Sports Agency! </h1>

<p>
    <h2 style="font-size: 100%;">
        Thanks for joining our online platform for athletes, complete your
        registration by confirming your account in the following link.
    </h2>
</p>
<p style="font-size: 100%;">
    <a href="https://{{ domain }}{% url 'activate' uidb64=uid token=token %}"> Active your account </a>
</p>
<p>
    <h2 style="font-size: 100%;">
        Greetings from the SIA Sport Agency team.
    </h2>
</p>
{% else %}
<h1 style="font-size: 100%;"> ¡Bienvenid@ a SIA Sports Agency! </h1>

<p>
    <h2 style="font-size: 100%;">
        Gracias por unirte a nuestra plataforma online para deportistas,
        completa tu registro conﬁrmando tu cuenta en el siguiente enlace.
    </h2>
</p>
<p style="font-size: 100%;">
    <a href="https://{{ domain }}{% url 'activate' uidb64=uid token=token %}"> Activar cuenta </a>
</p>
<p>
    <h2 style="font-size: 100%;">
        Un saludo del equipo de SIA Sports Agency.
    </h2>
</p>
{% endif %}

<div style="text-align: center; background-color: #202020; width: 100%; height: 80px; margin-top: 10%;">
    <img style="width: 50%; margin-top: 20px;" src="https://siasportsagency.com/static/img/mail/footer.png" />
</div>
<html>
{% endautoescape %}
