<!DOCTYPE html>
<html lang="es">
    {% block title %}
        <title>Inicio | SIA Sports Agency</title>
    {% endblock %}
    {% block head %}
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=7,8,9">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="icon" type="image/png" href="{% static 'img/caja-dark.png' %}">
        <link rel="shortcut icon" type="image/png" src="{% static 'img/caja.png' %}">

        <!--  LINKS BOOTSTRAP -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!--  LINKS JQUERY -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <!--  LINKS BOOTSTRAP SELECT -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

        <!--  LINKS ANIMATE -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.6/animate.min.css">

        <!--  LINKS PERSONALES -->
        <script type="text/javascript" src="{% static 'js/tabs.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/perfil.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/flag-icon.css' %}" />
        <link rel="stylesheet" href="{% static 'css/flag-icon.min.css' %}" />

        <!--  LINKS FONT AWESOME -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

        <!--  LINKS AOS -->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

        <script>
            $(document).ready(function(){
                $('.toast').toast({delay: 3000});
                $('.selectpicker').selectpicker({
                    'selectedText': 'cat'
                });
                AOS.init();
                $.datepicker.regional['es'] = {
                    closeText: 'Cerrar',
                    prevText: '< Ant',
                    nextText: 'Sig >',
                    currentText: 'Hoy',
                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
                    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                    dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
                    dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
                    weekHeader: 'Sm',
                    dateFormat: 'dd/mm/yy',
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: ''
                };
                $.datepicker.setDefaults($.datepicker.regional['es']);
                $( function() {
                  $( "#datepicker" ).datepicker();
                } );
            });
        </script>
    </head>
    {% endblock %}

    <body>
        {% include "sia_sports_agency/modal_window_que.html" %}
        {% include "sia_sports_agency/modal_login.html" %}
        {% include "sia_sports_agency/toasts.html" %}
        <div class="content">
            <nav class="navbar navbar-expand-xl sticky-top navbar-dark bg-dark navbar-toggler-left fill">
                <div class="d-xl-none row col-12">
                    <div class="col">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="caja col-6">
                        <div>
                            <span style="margin-left: 15%;"><img src="{% static 'img/caja.png' %}" class="logo-responsive" /></span>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <div class="d-none d-xl-block">
                        <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png' %}" width="550px" height="100px" /></a>
                    </div>
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active"  href="/#home"> <span class="pepe"> HOME </span> <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#queModalCenter" data-toggle="modal" data-target="#queModalCenter">QU&Eacute; OFRECEMOS<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#contacto-form">CONTACTO<span class="sr-only">(current)</span></a>
                        </li>
                        {% if usuario %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                CUENTA
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/perfil">Perfil</a>
                                <a class="dropdown-item" href="#">B&uacute;squeda</a>
                                <a class="dropdown-item" href="/logout">Cerrar sesi&oacute;n</a>
                            </div>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="" data-toggle="modal" data-target="#loginModalCenter">LOGIN<span class="sr-only">(current)</span></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            {% block content %}
            {% endblock %}
        </div>
    </body>


    <!-- Footer -->
    <footer class="page-footer font-small cyan darken-3 bg-dark">

        <!-- Footer Elements -->
        <div class="container">

            <!-- Grid row-->
            <div class="row">

                <!-- Grid column -->
                <div class="div-icons col-12">
                    <div class="mb-5">

                        <!-- Facebook -->
                        <a class="fb-ic">
                            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic">
                            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic">
                            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                    </div>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
        <!-- Footer Elements -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> siasportsagency.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

</html>
