{% extends 'sia_sports_agency/base.html' %}
{% block content %}
{% load static %}
{% load i18n %}
{% include "sia_sports_agency/modal_usuario_detalle.html" %}
<div class="busqueda content">
    <div class="row titulo">
        <h2>{% trans "Filtros de b&uacute;squeda" %}</h2>
    </div>
    <form id="form-busqueda">
        <div class="row form-group justify-content-center" style="margin: auto;">
            <div class="col-12 col-xl-5">
                <div class="row">
                    <div class="col-4">
                        <h5>{% trans "Qu&eacute; buscas" %}</h5>
                    </div>
                    <div class="col-8">
                        <select class="form-control busqueda-tipo" name="busquedaTipoUsuario">
                                <option value="">{% trans "Seleccione una opción" %}</option>
                            {% for tipo in tipo_jugadores %}
                                <option value="{{tipo.codigo|default:''}}">{{tipo.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h5>{% trans "Nombre" %}</h5>
                    </div>
                    <div class="col-8">
                        <input class="form-control busqueda-nombre" type="text" name="busquedaNombre">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h5>{% trans "Deporte" %}</h5>
                    </div>
                    <div class="col-8">
                        <select class="form-control busqueda-deporte" name="busquedaDeporte">
                            <option value="">{% trans "Seleccione una opción" %}</option>
                            {% for deporte in deportes %}
                            <option value="{{deporte.codigo|default:''}}" >{{deporte.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h5>{% trans "Posición" %}</h5>
                    </div>
                    <div class="col-8">
                        <select class="form-control selectpicker busqueda-posicion" title="{% trans 'Seleccione una opci&oacute;n' %}" name="busquedaPosicionMulti" id="posicionDropdownMultiple" multiple data-live-search="true" hidden>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-5">
                <div class="row">
                    <div class="col-4">
                        <h5>{% trans "Género" %}</h5>
                    </div>
                    <div class="col-8">
                        <select class="form-control busqueda-genero" name="busquedaGenero">
                            <option value="a">{% trans "Ambos" %}</option>
                            <option value="m">{% trans "Masculino" %}</option>
                            <option value="f">{% trans "Femenino" %}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h5>{% trans "País" %}</h5>
                    </div>
                    <div class="col-8">
                        <select class="form-control selectpicker busqueda-pais" title="{% trans 'Seleccione una opci&oacute;n' %}" name="busquedaPais" data-live-search="true" hidden>
                            <option value="">{% trans "Seleccione una opción" %}</option>
                            {% for pais in paises %}
                            <option value="{{pais.codigo|default:''}}" data-content="<span class='flag-icon flag-icon-{{pais.codigo|lower}}'></span>&ensp;&ensp;{{pais.nombre}}"></option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h5>{% trans "Rango edad" %}</h5>
                    </div>
                    <div class="col-3">
                        <select class="form-control busqueda-edad-ini" name="busquedaEdadIni">
                            {% for r in rango_edad %}
                                <option value="{{r}}">{{r}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-2" style="text-align: center;">
                    -
                    </div>
                    <div class="col-3">
                        <select class="form-control busqueda-edad-fin" name="busquedaEdadFin">
                            {% for r in rango_edad %}
                                <option value="{{r}}" {% if r == 99 %} selected {% endif %}>{{r}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h5>{% trans "Equipo actual" %}</h5>
                    </div>
                    <div class="col-8">
                        <input class="form-control busqueda-eactual" type="text" name="busquedaEActual">
                    </div>
                </div>
                <div class="row botones">
                    <div class="col-6">
                        <button type="submit" class="form-control"><i class="fas fa-search"></i> {% trans "Buscar" %}</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="form-control" onclick="limpiarFiltros()"><i class="fas fa-eraser"></i> {% trans "Limpiar" %}</button>
                    </div>
                </div>
            </div>
        </div>
        <input class="busquedaPagina" type="text" hidden>
    </form>
</div>
<div class="resultados">
    <div class="row" style="margin: auto;">
    </div>
</div>
<div class="botones-busqueda">
    <div class="row" style="margin: auto;">
        <div class="col-12">
            <ul class="pagination pagination-lg" style="justify-content: center">
            </ul>
        </div>
    </div>
</div>
{% endblock %}
