{% extends 'sia_sports_agency/base.html' %}
{% block content %}
{% load static %}
{% load i18n %}
<div class="container" style="overflow-x: hidden !important;">
    <div class="row" style="margin: auto; font-size: 20px;">
        <div class="col-12" style="padding: 50px 0px 50px 0px;">
            <div style="text-align: center;">
                <h3>CONDICIONES DEL SERVICIO</h3>
            </div><br/>
            <p>
                SIA SPORTS AGENCY pone a disposición de los usuarios registrados en la web de tecnología y
                servicios que permiten a los usuarios registrados conectarse al sitio web como punto de encuentro
                entre usuarios vinculados al mundo del deporte, donde los usuarios podrán comunicarse entre ellos y
                recibir o enviar ofertas relacionadas con su actividad deportiva, consejos, intercambio opiniones y
                otras acciones.
            </p>
            <p>
                Estas Condiciones rigen el uso de siasportsagency.com como Usuario registrado, su productos, sus funcionalidades, sus aplicaciones y servicios, salvo cuando indiquemos expresamente que se aplican otras condiciones distintas de estas.
            </p>
            <p>
                El servicio de usuario registrado y el uso de nuestra Plataforma web como usuario registrado en GRATUITO, no te cobramos por el uso de nuestra área de usuarios registrados y las acciones que puedes llevar a cabo en ella.
            </p>
            <p>
                En su lugar, si necesitamos que nos indiques algunos de tus datos personales (email), que utilizaremos para el envío de nuestros boletines informativos y comerciales, y en los que podremos insertar publicidad de empresas y organizaciones interesadas en aparecer en nuestro boletín, de esta forma podremos  sufragar parte de los gastos de mantenimiento de nuestro sitio web y de los servicios de los que disfrutas.
            </p>
            <p>
                En lugar de pagar por usar siasportsagency.com aceptas que podamos usar tú email para enviarte nuestros boletines informativos y comerciales y mostrarte en el boletín o en área del web para usuarios registrados de anuncios de las empresas y organizaciones que nos pagan por promocionarse siasportsagency.com.
            </p>
            <p>
                No vendemos tus datos personales, no compartimos ningún tipo de información que te identifique (como tu nombre, dirección de correo electrónico u otros datos de contacto) con ellos, a menos que nos des permiso específico.
            </p>
            <p>
                Únicamente ofrecemos a los anunciantes la aparición en nuestro boletín u otras áreas del web, informándole del tipo de perfil de usuario en general que hace uso de nuestra web (usuarios vinculados con el deporte).
            </p>
            <p>
                Es decir, podemos mostrarte anuncios relevantes y útiles sin revelar tu identidad a los anunciantes. Los anunciantes nos proporcionan información como sus objetivos y el tipo de audiencia a la que quieren llegar con sus anuncios (por ejemplo, amantes del tenis de 22 a 45 años). De esta manera, podemos mostrar sus anuncios a las personas que podrían estar interesadas en ellos.
            </p>
            <p>
                Igualmente se ofrece a los anunciantes informes sobre el rendimiento de su publicidad en nuestro boletín o sitio web, a fin de que conozcan cómo han interactuado los usuarios (nº clicks en el anuncio, cuantas veces se visualizó, a cuantos usuarios llegó el boletín,…), de forma que tengan información general del resultado de su campaña publicitaria.
            </p>
            <p>
                Si aceptas que tus datos y otro material que subas a siasportsagency.es será accesible para otros usuarios registrados, manteniendo cada usuario sus derechos de propiedad intelectual sobre dicho material , sin que en ningún caso ningún usuario registrado pueda hacer uso de dichos datos o material para otro uso distinto al de la finalidad del sitio web : intercambiar información, establecer contactos entre los usuarios, compartir experiencias, …
            </p>
            <p>
                En nuestra <a target='_blank' href='/politica_privacidad'>Política de privacidad</a> se detalla cómo recopilamos y usamos tus datos personales.
            </p><br/>
            <div style="text-align: center; font-weight: bold;">
                1.-SERVICIOS QUE OFRECEMOS
            </div><br/>
            <p>
                Nuestro objetivo es facilitar un punto de encuentro entre personas amantes del deporte, independientemente de su nivel como deportistas (principiante, amateur, profesional) , y  la posibilidad de crear entre ellos relaciones, contactos, vínculos y otras formas de interactuar.
            </p>
            <p>
                Para ello dispones de los Productos y servicios que se describen a continuación:
            </p><br/>
            <p>
                Ficha de perfil con datos básicos y específicos del usuario registrado, así como imágenes, redes sociales y vídeos del mismo. Además, se permite el envío de mensajes entre los distintos usuarios registrado.
            </p>
            <p>
                Te facilitamios la localización y contacto con otras personas amantes del deporte que puedan compartir tus aficiones, entretenimiento y puedan ayudarte con consejos, formación u otras acciones.
            </p>
            <div style="font-weight: bold;">
                No admitimos las conductas perjudiciales, como protección de nuestra comunidad:
            </div><br/>
            <p>
                Está totalmente prohibido el uso del sitio web y sus herramientas de forma inapropiada,
            </p>
            <p>
                Si tenemos constancia de forma directa o a través de la denuncia de algún usuario registrado de contenido o conductas inapropiadas, aplicaremos las medidas correspondientes, como serían eliminar el contenido, bloquear el acceso a ciertas funcionalidades, inhabilitar una cuenta o ponernos en contacto con los órganos encargados de hacer cumplir la ley.
            <p/><br/>
            <div style="font-weight: bold;">
                Ofrecemos acceso a nuestros servicios desde cualquier lugar del mundo:
            </div><br/>
            <p>
                El acceso al sitio web es libre para cualquier usuario de cualquier lugar del mundo, siendo todos los datos y material almacenados  en centros de datos ubicados en España.
            </p><br/>
            <div style="text-align: center; font-weight: bold;">
                2.-OBLIGACIONES DE LOS USUARIOS REGISTRADOS
            </div><br/>
            <p>
                Para el uso del área de usuarios registrados y los servicios de Siasportsagency.com te obligas al cumplimiento de lo siguiente:
            </p><br/>
            <div style="font-weight: bold;">
                1.	Quién NO puede registrarse en Siasportsagency
            </div><br/>
            <ul>
                <li> Eres menor de 16 años. </li>
                <li> Se te ha condenado por delitos sexuales. </li>
                <li> Hemos inhabilitado tu cuenta con anterioridad por haber infringido nuestras Condiciones o Políticas. </li>
                <li> La legislación aplicable prohíbe que accedas a nuestros productos, servicios o software. </li>
            </ul>
            <div style="font-weight: bold;">
                2.	Qué puedes hacer y qué puedes compartir
            </div><br/>
            <p>
                En Siasportsagency vas a poder expresarse y compartir contenido con otros usuarios registrados, pero siempre bajo el respeto y la buena conducta.
            </p>
            <p>
                NORMAS DE CONDUCTA
            </p>
            <p>
                Están totalmente prohibidas  las conductas que se describen a continuación ni ayudar (o apoyar a otras personas en estos comportamientos).
            </p>
            <p>
                <ol>
                    <li>
                        No debes usar nuestro sitio web para subir o compartir contenido en los siguientes casos:
                        <ul>
                            <li>
                                Si son ilegales, engañosos, discriminatorios o fraudulentos.
                            </li>
                            <li>
                                Si se infringen los derechos de otras personas, como los relativos a la propiedad intelectual.
                            </li>
                        </ul>
                    </li>
                    <li>
                        No debes subir virus o códigos maliciosos, ni realizar actividades que puedan inhabilitar, sobrecargar o alterar el correcto funcionamiento de nuestro sitio web o servicios, ni modificar su aspecto.
                    </li>
                    <li>
                        No deben usarse amenazas o apelaciones a la violencia , u otro  lenguaje que incite a cometer actos graves de violencia, ni entre los usuarios ni como opiniones.
                    </li>
                    <li>
                        Está prohibido el uso de contenido que apoye o elogie a grupos, líderes o personas implicadas en actividades violentas o delictivas.
                    </li>
                    <li>
                        No deben utilizarse insultos, palabras malsonantes o lenguaje agresivo hacia otros usuarios.
                    </li>
                    <li>
                        En base a restricciones legales comunes, prohibimos que los usuarios de Siasportsagency intenten a través de nuestro sitio web o herramientas  comprar, vender o intercambiar armas de fuego, drogas y medicamentos que requieran prescripción médica.
                    </li>
                    <li>
                        No permitimos contenido que explote sexualmente a menores o que los ponga en peligro.
                    </li>
                </ol>
            </p>
            <p>
                Podemos eliminar o bloquear todo el contenido que incumpla las presentes disposiciones.
            </p>
            <p>
                Si retiramos contenido que has compartido debido al incumplimiento de nuestras Normas, te informaremos de esta medida y te explicaremos las opciones de que dispones para solicitar otra revisión, a menos que infrinjas de manera grave o repetida estas Condiciones o, si al hacerlo, nos exponemos o exponemos a terceras personas a responsabilidades legales; nuestra comunidad de usuarios se ve perjudicada; se compromete o pone en riesgo la integridad o el funcionamiento de nuestros servicios, sistemas o Productos; también en los casos en los que experimentemos restricciones por motivos técnicos, o bien en aquellos en los que no tengamos permiso para hacerlo por motivos legales.
            </p>
            <p>
                Para contribuir al correcto funcionamiento de la comunidad, te recomendamos que denuncies cualquier contenido o comportamiento que consideres que infringe tus derechos dirigiéndote al email siasportsagency@gmail.com
            </p>
            <div style="font-weight: bold;">
                3. Permisos que nos concedes
            </div><br/>
            <p>
                Para proporcionar nuestros servicios, necesitamos que nos concedas determinados permisos:
            </p>
            <ol>
                <li>
                        <span style="text-decoration: underline;">Permiso para usar el contenido que creas y compartes</span>: hay contenido que compartes o subes, como fotos o vídeos, que puede estar protegido por leyes en materia de propiedad intelectual o industrial.
                        <p>Entendemos que eres el propietario de los derechos de propiedad intelectual o industrial (como derechos de autor o marcas) del contenido que creas y compartes en Siasportsagency. Estas Condiciones no eliminan los derechos que tienes sobre el contenido de tu propiedad. Puedes compartir libremente tu contenido con quien quieras y donde desees.</p>
                        <p>No obstante, para poder hacer uso de nuestros servicios, debes concedernos algunos permisos legales (denominados “licencias”) a fin de usar dicho contenido.</p>
                        <p>En concreto, cuando compartes, publicas o subes contenido a nuestra web y dicho contenido se encuentra protegido por derechos de propiedad intelectual o industrial, nos concedes una licencia en todo el mundo, no exclusiva, y exenta de pagos por derechos de autor para alojar, usar, distribuir, modificar, mantener, reproducir, mostrar o comunicar públicamente y traducir tu contenido</p>
                        <p>Dicho de otro modo, si compartes o subes una foto a Siasportsagency, nos das permiso para almacenarla, copiarla y compartirla con otros, como su publicación en nuestro Perfil de Facebook, Instagram y cualquier de las redes sociales que utilizamos, sobre todo con la finalidad de promocionarte. Esta licencia dejará de tener efecto cuando tu contenido se elimine de nuestros sistemas.</p>
                        <p>Tu contenido puede eliminarse individualmente, aunque también tienes la opción de eliminar tu cuenta para suprimirlo todo de una sola vez</p>
                        <p>Cuando elimines tu contenido, el resto de los usuarios dejarán de verlo, y dejará de estar alojado en nuestros sistemas.</p>
                        <p>Casos en los que tras cancelar la cuenta tu contenido aún está en nuestros sistemas:</p>
                        <ul>
                            <li>
                                No se puede eliminar inmediatamente debido a limitaciones técnicas (en cuyo caso, tu contenido se eliminará en un plazo máximo de 90 días desde que decides eliminarlo).
                            </li>
                            <li>
                                •	Otras plataformas disponen de tu contenido de acuerdo con esta licencia, pero no lo han eliminado (en cuyo caso, esta licencia seguirá en vigor hasta que el contenido se retire).
                            </li>
                        </ul>
                </li>
                <li>
                    <span style="text-decoration: underline;"> Permiso para usar tu nombre, tu foto del perfil e información sobre las acciones que realizas en anuncios y contenido patrocinado</span>: Nos concedes permiso para usar tu nombre, tu foto del perfil e información sobre las acciones que realizas en las campañas de publicidad insertada en la web o enviada en nuestros boletines sin recibir compensación de ningún tipo.
                </li>
            </ol>
            <p>
                Que hacemos con tus datos personales tras cancelar la cuenta:
            </p>
            <ul>
                <li>
                    Conservaremos tus datos personales con fines estadísticos e históricos (siendo su borrado definitivo a los 2 años), así como para cumplir con cualquier legislación vigente en materia de seguridad, fiscalidad u otras. En ningún caso tus datos serán utilizados para otros fines. No te vamos a enviar más comunicados, ni boletines.
                </li>
            </ul>
            <div style="font-weight: bold;">
                4. Limitaciones de uso de nuestra propiedad intelectual
            </div><br/>
            <p>
                Nos reservamos todos los derechos del contenido protegido por derechos de propiedad intelectual (de nuestra propiedad) que ponemos a disposición en nuestro sitio web y herramientas  (como formularios, imágenes, diseños, vídeos o otros elementos que podamos ofrecer en nuestro sitio web ).
            </p>
            <p>
                Debes obtener nuestro permiso por escrito o contar con uno en virtud de una licencia de código abierto para modificar, descompilar o intentar extraer de algún otro modo nuestro código fuente, así como crear obras derivadas a partir de él.
            </p>
            <br/>
            <div style="text-align: center; font-weight: bold;">
                3.-DISPOSICIONES ADICIONALES
            </div>
            <br/>
            <div style="font-weight: bold;">
                1. Actualización de las Condiciones
            </div>
            <br/>
            <p>
                Continuamente estamos trabajando para mejorar nuestro servicio, ofrecer nuevas funcionalidades, servicos,…. Por este motivo, es posible que las actuales Condiciones del servicio se actualicen cada cierto tiempo.
            </p>
            <p>
                Si estas condiciones afectarán a cambios sustanciales en el acceso y uso que haces del servicio te enviaremos una notificación por correo electrónico con 30 días de antelación como mínimo antes de modificar estas Condiciones, de modo que puedas revisar los cambios antes de que entren en vigor.
            </p>
            <p>
                Si continúas usando nuestros Servicios una vez que los cambios hayan entrado en vigor, significará que aceptas estas modificaciones.
            </p>
            <p>
                Si no estás de acuerdo con nuestras Condiciones presentes o las nuevas actualizadas y no quieres seguir formando parte de Siasportsagency puedes eliminar tu cuenta en cualquier momento.
            </p>
            <br/>
            <div style="font-weight: bold;">
                2. Suspensión o cancelación de la cuenta
            </div>
            <br/>
            <p>
                Si detectamos y concluimos que has infringido nuestras condiciones o políticas, y especialmente nuestras Normas comunitarias de conducta y respeto, de manera notoria o grave, o en reiteradas ocasiones, es muy probable que suspendamos o inhabilitemos definitivamente tu cuenta.
            </p>
            <p>
                También suspenderemos tu cuenta y accesos si infringes reiteradamente los derechos de propiedad intelectual de otras personas o si nos vemos obligados a ello por motivos legales.
            </p>
            <p>
                Si procedemos a suspender o inhabilitar tu cuenta, te informaremos al respecto y te explicaremos las opciones de las que dispones para solicitar una revisión.
            </p>
            <p>
                Si eliminas tu cuenta o nosotros la inhabilitamos, el acuerdo establecido mediante estas Condiciones dejará de aplicarse.
            </p>
            <br/>
            <div style="font-weight: bold;">
                3. Limitación de responsabilidad
            </div>
            <br/>
            <p>
                En Siasportsagency actuaremos con diligencia profesional a la hora de ofrecerte nuestros Productos y servicios y de mantener un entorno seguro y libre de errores.
            </p>
            <p>
                En ningún caso no nos hacemos responsables de los problemas que pudieran surgir con las contrataciones de servicios, retribuidos o no, que se establezcan entre los usuarios registrados de nuestra plataforma online.
            </p>
            <p>
                Es decir, si un usuario registrado en la web contacta con otro usuario registrado en la eb y llegan a un acuerdo (retribuido o no) en el cual uno de ellos suministra un servicio de elaboración de dietas al otro, nosotros no seremos responsables ante diligencias en la elaboración de esas dietas o de si esas dietas se realizan o no o de si esos servicios en caso de ser retribuidos son pagados por una de las partes, o de cualquier problema surgido entre ellos.
            </p>
            <p>
                En definitiva, no nos hacemos responsables de las relaciones y acuerdos que los usuarios registrados en nuestro sitio web celebren entre ellos.
            </p>
            <br/>
            <div style="font-weight: bold;">
                4. Disputas
            </div>
            <br/>
            <p>
                Si eres consumidor y tu residencia habitual se encuentra en un estado miembro de la Unión Europea, las leyes de dicho país se aplicarán a cualquier reclamación, causa o disputa que inicies contra nosotros y que surja como consecuencia de estas Condiciones.
            </p>
            <p>
                En todos los demás casos, aceptas que la reclamación debe resolverse en un tribunal competente en España y que las leyes de dicho país regirán estas Condiciones y cualquier reclamación.
            </p>
            <br/>
            <div style="font-weight: bold;">
                5. Otros
            </div>
            <br/>
            <ul>
                <li>
                    1.	Estas Condiciones constituyen la totalidad del acuerdo entre tú y Siasportsagency respecto del uso que hagas de nuestro sitio web, servicios y Productos.
                </li>
                <li>
                    2.	Algunos de nuestros servicios pueden disponer de condiciones específicas para ellos, en dicho caso te informaremos y deberás aceptarlas  para hacer uso de los mismos y formarán parte del acuerdo que tengamos contigo.
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
