{% load static %}
{% static "" as baseCromo %}
{% static "img/cromo/iconos_deporte/" as baseLogoDeporte %}
{% static "flags/png/" as baseLogoPais %}
{% load i18n %}
<script>
    /* Establecemos los nuevos valores */
    var establecerDatosCromo = function(){
        /*Cambiamos plantilla del cromo*/
        var tipo_jugador = $('#form-datos-basicos #queEresDropdown').val();
        var cromoImgPlt = $('.cromo .img-plantilla');
        if(tipo_jugador == 'JG'){
            cromoImgPlt.replaceWith("<img class='img-plantilla' src='{% static 'img/cromo/plantillas/plantilla_jugador.png' %}' />");
        }
        else if(tipo_jugador == 'CL'){
            cromoImgPlt.replaceWith("<img class='img-plantilla' src='{% static 'img/cromo/plantillas/plantilla_club.png' %}' />");
        }
        else{
            cromoImgPlt.replaceWith("<img class='img-plantilla' src='{% static 'img/cromo/plantillas/plantilla_general.png' %}' />");
        }

        /*Cambiamos icono del deporte del cromo*/
        var deporte = $('#form-datos-basicos #deporteInput').val();
        var cromoImgDpte= $('.cromo .img-icono-deporte');
        cromoImgDpte.replaceWith("<img class='img-icono-deporte' src='{{baseLogoDeporte}}" + deporte + ".png' />");

        /*Cambiamos texto del cromo*/
        var texto = $('#form-datos-basicos #FormControlInputAlias').val() + "<br/>";
        if (deporte != '' && deporte != 'MD' && tipo_jugador == 'JG'){
            var requierMultiple = getRequiereMultiple(deporte);
            if (requierMultiple){
                texto = texto + nombreMultipleDeporte();
            }else{
                texto = texto + $('#form-datos-basicos #posicionDropdown option:selected').text();
            }
        }
        $('.cromo .texto-cromo').html('<p>' + texto + '</p>');

        /*Cambiamos rol cromo*/
        var tipo = $('#form-datos-basicos #queEresDropdown option:selected').text();
        var cromoTextoTipo= $('.cromo .tipo-cromo .texto-tipo').text(tipo);

        /*Cambiamos el pais*/
        var pais = $('#form-datos-basicos #paisDropdown').val();
        var cromoPais= $('.cromo .img-bandera');
        var enlace = "{{baseLogoPais}}" + pais.toLowerCase() + ".png";
        cromoPais.attr("src", enlace);
    }

    /* Establecemos los nuevos valores de las redes */
    var establecerRedesCromo = function(){
        ruta_yt = $("#form-redes-sociales .enlace-youtube").val();
        ruta_ig = $("#form-redes-sociales .enlace-insta").val();
        ruta_tt = $("#form-redes-sociales .enlace-twitter").val();
        ruta_fb = $("#form-redes-sociales .enlace-facebook").val();
        var html = "";
        if (ruta_ig != ''){
            html = html +
            "<div class='icono-instagram col-10'>" +
                "<img class='img-icono-instagram' src='{% static 'img/cromo/iconos_redes/icono_instagram.png' %}' />" +
            "</div>";
        }
        if (ruta_tt != ''){
            html = html + "<div class='icono-twitter col-10'>" +
            "<img class='img-icono-twitter' src='{% static 'img/cromo/iconos_redes/icono_twitter.png' %}' />" +
            "</div>";
        }
        if (ruta_fb != ''){
            html = html + "<div class='icono-facebook col-10'>" +
            "<img class='img-icono-facebook' src='{% static 'img/cromo/iconos_redes/icono_facebook.png' %}' />" +
            "</div>";
        }
        if (ruta_yt != ''){
            html = html + "<div class='icono-youtube col-10'>" +
            "<img class='img-icono-youtube' src='{% static 'img/cromo/iconos_redes/icono_yt.png' %}' />" +
            "</div>";
        }
        $('.cromo .icono-redes').html(html);
    }
</script>
<div class="cromo">
    <div class="foto">
        <img class="img-foto" src="{{ baseCromo }}{{img_perfil}}" onerror="this.onerror=null; this.src='{{ baseCromo }}users/img-perfil/silueta_defecto.png'"/>
    </div>
    <div class="plantilla">
        {% if usuario.tipo.codigo ==  'JG' %}
        <img class="img-plantilla" src="{% static 'img/cromo/plantillas/plantilla_jugador.png' %}" />
        {% elif usuario.tipo.codigo == 'CL' %}
        <img class="img-plantilla" src="{% static 'img/cromo/plantillas/plantilla_club.png' %}" />
        {% else %}
        <img class="img-plantilla" src="{% static 'img/cromo/plantillas/plantilla_general.png' %}" />
        {% endif %}
    </div>
    <div class="icono-logo">
        <img class="img-icono-logo" src="{% static 'img/logos/caja-dark-nb.png' %}" />
    </div>
    <div class="icono-deporte">
        <img class="img-icono-deporte" src="{{baseLogoDeporte}}{{usuario.deporte.codigo}}.png" />
    </div>
    <div class="row icono-redes">
        {% if red_IG  %}
        <div class="icono-instagram col-10">
            <img class="img-icono-instagram" src="{% static 'img/cromo/iconos_redes/icono_instagram.png' %}" />
        </div>
        {% endif %}
        {% if red_TT %}
        <div class="icono-twitter col-10">
            <img class="img-icono-twitter" src="{% static 'img/cromo/iconos_redes/icono_twitter.png' %}" />
        </div>
        {% endif %}
        {% if red_FB %}
        <div class="icono-facebook col-10">
            <img class="img-icono-facebook" src="{% static 'img/cromo/iconos_redes/icono_facebook.png' %}" />
        </div>
        {% endif %}
        {% if red_YT %}
        <div class="icono-youtube col-10">
            <img class="img-icono-youtube" src="{% static 'img/cromo/iconos_redes/icono_yt.png' %}" />
        </div>
        {% endif %}
    </div>
    <div class="row texto-cromo">
        <p>
            {{usuario.alias}}<br/>
            {{posicion_principal.nombre}}
        </p>
    </div>
    <div class="row tipo-cromo">
        <div style="width: 180px; text-align: center;">
            <span class="texto-tipo">{{usuario.tipo.nombre}}</span>
        </div>
    </div>
    <div class="bandera-cromo">
        <img class="img-bandera" src="{{baseLogoPais}}{{usuario.pais.codigo|lower}}.png" />
    </div>
</div>
<!--div class="content-loader">
    <img width="100px" src="{% static 'img/loading-gif.gif' %}"/>
    <h4 class="texto-loader"> Cargando cromo... </h4>
</div-->
<div class="div-cromo">
    <img class="cromo-img" src="{{ baseCromo }}{{ruta_cromo}}"/>
</div>
<div class="col-12 menu-lateral" style="margin-top: 100px;">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <a href="#" class="cambiar-img-cromo list-group-item list-group-item-action">{% trans "Cambiar imagen" %}</a>
            <a href="{{ baseCromo }}{{ruta_cromo}}" class="list-group-item list-group-item-action btn-descargar-cromo" download>{% trans "Descargar" %}</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->
</div>
<form action="subir_img_cromo/" method="POST" enctype="multipart/form-data" id="form-subida-img">
    {% csrf_token %}
    <input type="file" onchange="enviarImgCromo();" class="custom-file-input" name="inputImgCromo" id="customFileImgCromo" lang="es" hidden>
</form>
