{% load static %}
<div class="modal fade" id="detalleUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="detalleUsuarioModalTitle" aria-hidden="true">
    <div class="modal-dialog mw-100 w-100" role="document">
        <div class="modal-content modal-registration">
            <div class="modal-header">
                <h2 class="modal-title" id="registrationLongTitle">Detalle de </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <h2> Datos básicos </h2>
                        <hr/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
