{% load static %}
<div class="modal fade" id="queModalCenter" tabindex="-1" role="dialog" aria-labelledby="queModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content modal-que">
            <div class="modal-header">
                <h2 class="modal-title">Qué ofrecemos</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"/>
                <div class="row justify-content-center cuadros">
                    <div class="row container justify-content-center col-12 quienes-text">
                        <div class="col-12 col-xl-5 que-section" data-aos="zoom-in" data-aos-duration="2000">
                            <div class="row">
                                <div class="col-3 my-auto">
                                    <i class="fas fa-search-plus fa-3x"></i>
                                </div>
                                <div class="col-9 text-left">
                                    <span >
                                        SIA Sports Agency es un punto de encuentro entre usuarios vinculados al
                                        mundo del deporte, tanto amateur como profesional.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-5 que-section" data-aos="zoom-in" data-aos-duration="2000">
                            <div class="row">
                                <div class="col-3 my-auto">
                                    <i class="fas fa-id-card fa-3x"></i>
                                </div>
                                <div class="col-9 text-left">
                                    <span>
                                        Crea tu perfil de forma fácil y sencilla, y podrás acceder a la búsqueda de otros usuarios,
                                        comunicarte con ellos, y recibir o enviar ofertas.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="row container col-12 justify-content-center quienes-text">
                        <div class="col-12 col-xl-5 que-section" data-aos="zoom-in" data-aos-duration="2000">
                            <div class="row">
                                <div class="col-3 my-auto">
                                    <i class="fas fa-user-edit fa-3x"></i>
                                </div>
                                <div class="col-9 text-left">
                                    <span>
                                        Regístrate GRATIS y edita tu perfil con tus habilidades, vídeos, currículum, proyectos..
                                        Si buscas mejorar en el ámbito deportivo este es tu lugar.
                                        Tenemos un objetivo: ayudarte a alcanzar tus metas!
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-5 que-section" data-aos="zoom-in" data-aos-duration="2000">
                            <div class="row">
                                <div class="col-3 my-auto">
                                    <i class="fas fa-user-friends fa-3x"></i>
                                </div>
                                <div class="col-9 text-left">
                                    <span>
                                        No somos representantes,
                                        simplemente somos una plataforma online creada por deportistas para deportistas,
                                        en la cual caben todos los deportes, todos los géneros y todas las personas.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
