{% load static %}
{% load i18n %}
<div class="modal fade" id="recordarContraModalCenter" tabindex="-1" role="dialog" aria-labelledby="recordarContraModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans "Recuerda contrasena" %}</h5>
            </div>
            <div class="modal-body">
                <form id="form-recordar-contrasena" action="recordar_contrasena_mail/" method="post">
                    {% csrf_token %}
                    <label for="correoRecordar">Correo electrónico: </label>
                    <input type="text" class="form-control" id="correoRecordar" name="inputEmail">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cerrar" %}</button>
                        <button type="submit" type="button" class="btn btn-primary">{% trans "Enviar" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
