{% load static %}
{% load i18n %}
<div class="modal fade" id="loginModalCenter" tabindex="-1" role="dialog" aria-labelledby="loginModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content modal-login">
            <div class="modal-header">
                <h2 class="modal-title">{% trans "Inicio de sesión" %}</h2>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="container">
                <div class="d-flex justify-content-center h-120">
                    <div class="card">
                        <div class="card-body">
                            <form id="form-login" action="login/" method="post">
                                {% csrf_token %}
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control emailInput" name="email" placeholder="{% trans 'Nombre de usuario' %}">
                                </div>
                                <div class="correo-invalido" style="margin: -10px 0px 10px 0px;" hidden>
                                    <span style="color: #d66c23;">* {% trans "Correo o contraseña inválidos" %}</span>
                                </div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input type="password" class="form-control passwordInput" name="password" placeholder="{% trans 'Contraseña' %}">
                                </div>
                                <div class="row align-items-center remember">
                                    <input type="checkbox">{% trans "Recuérdame" %}
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn float-right login_btn">
                                        {% trans "Iniciar sesión" %}
                                        <div class='loader loader-inicio float-right' hidden/>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-center links">
                                {% trans "¿No tienes cuenta?" %}<a href="" data-toggle="modal" data-target="#registrationModalCenter">{% trans "Regístrate" %}</a>
                            </div>
                            <div class="d-flex justify-content-center" style="margin-bottom: 20px;">
                                <a href="#" data-toggle="modal" data-target="#recordarContraModalCenter">{% trans "¿Olvidaste tu contraseña?" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
