<!-- Modal desactivar-->
{% load i18n %}
<div>
    <div class="modal fade" id="desactivarModal" tabindex="-1" role="dialog" aria-labelledby="desactivarModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans "Confirmación" %}</h5>
                </div>
                <form id="form-desactivar-cuenta" action="/desactivar_cuenta/" method="POST">
                    <div class="modal-body">
                        {% trans "¿Está seguro de que quiere desactivar su cuenta?" %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cerrar" %}</button>
                        <button type="submit" class="btn btn-primary">{% trans "Desactivar" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
