{% load static %}
{% load i18n %}
<div class="modal fade" id="registrationModalCenter" tabindex="-1" role="dialog" aria-labelledby="registrationModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog mw-100" role="document">
        <div class="modal-content modal-registration">
            <div class="modal-header">
                <h2 class="modal-title" id="registrationLongTitle">{% trans "Nueva cuenta" %}</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-registro" class="form-registro" action="registrar_usuario/" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xl-6 col-sm-12">
                            <div class="form-group">
                                <label class="qform" for="queEresDropdown">
                                    <h4 class="titulo">{% trans "Qu&eacute; eres?" %}</h4>
                                </label>
                                <select class="form-control" name="inputTipoUsuario" id="queEresDropdown">
                                    {% for tipo in tipo_jugadores %}
                                    <option value="{{tipo.codigo|default:''}}">{% trans tipo.nombre %}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>
                                    <h4 class="titulo">{% trans "Tus datos" %}</h4>
                                </label>
                                <div>
                                    <div>
                                        <label id="labelNombre" for="FormControlInputNombre">
                                            <span id="labelNombreApellidos" hidden>{% trans "Nombre y apellidos" %}</span>
                                            <span id="labelNombreClub" hidden>{% trans "Nombre del club" %}</span>
                                            <span id="labelSoloNombre" hidden> {% trans "Nombre" %}</span>
                                            <span id="labelNombreEmpresa" hidden> {% trans "Nombre de la empresa" %}</span>
                                            <span id="labelNombreMarca" hidden> {% trans "Nombre de la marca" %}</span>
                                        </label>
                                        <input class="form-control campoObligatorio" name="inputNombre" maxlength="30" type="text" id="FormControlInputNombre" >
                                        <div class="campoObligatorioNotif" hidden>
                                            <span> {% trans "*Este campo es obligatorio"%} </span>
                                        </div>
                                    </div>
                                    <div class="grupoAlias" style="margin-top: 10px;">
                                        <label for="FormControlInputAlias">{% trans "Alias" %}</label>
                                        <input class="form-control campoObligatorio" name="inputAlias" maxlength="13" type="text" id="FormControlInputAlias">
                                        <div class="campoObligatorioNotif" hidden>
                                            <span> {% trans "*Este campo es obligatorio"%} </span>
                                        </div>
                                    </div>
                                    <div class="grupoSexo" style="margin-top: 10px;">
                                        <label for="sexoDropdown">{% trans "Sexo" %}</label>
                                        <select class="form-control" id="sexoDropdown" name="inputSexo">
                                            <option value="m">{% trans "Hombre" %}</option>
                                            <option value="f">{% trans "Mujer" %}</option>
                                        </select>
                                    </div>
                                    <div class="grupoFechaNacimiento" style="margin-top: 10px;">
                                        <label>{% trans "F. Nacimiento" %}</label>
                                        <input name="inputNacimiento" type="date" class="form-control" autocomplete="off" maxlength="10">
                                        <div class="campoObligatorioNotif" hidden>
                                            <span> {% trans "*Este campo es obligatorio"%} </span>
                                        </div>
                                        <div class="campoFormatoNotif" hidden>
                                            <span> {% trans "*El formato de la fecha debe ser dd/mm/yyyy"%} </span>
                                        </div>
                                    </div>
                                    <div style="margin-top: 10px;">
                                        <label for="paisDropdown">{% trans "País" %}</label>
                                        <div class="divPais" id="paisDropdown">
                                            <select class="form-control selectpicker campoObligatorio" title="{% trans 'Ninguno seleccionado' %}" name="inputPais" data-live-search="true" hidden>
                                                {% for pais in paises %}
                                                <option value="{{pais.codigo|default:''}}" data-content="<span class='flag-icon flag-icon-{{pais.codigo|lower}}'></span>&ensp;&ensp;{{pais.nombre}}"></option>
                                                {% endfor %}
                                            </select>
                                            <div class="campoObligatorioNotif" hidden>
                                                <span> {% trans "*Este campo es obligatorio"%} </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group grupoAQueJuegas">
                                <label>
                                    <h4 class="titulo">{% trans "A qu&eacute; juegas?" %}</h4>
                                </label>
                                <div class="data-div">
                                    <label for="deporteInput">{% trans "Deporte" %}</label>
                                    <select class="form-control" id="deporteInput" name="inputDeporte">
                                        {% for deporte in deportes %}
                                        <option value="{{deporte.codigo|default:''}}">{% trans deporte.nombre %}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="grupoEspecifique" style="margin-top: 10px;" hidden>
                                        <label for="deporteEspecifico">{% trans "Especifique cu&aacute;l" %}</label>
                                        <input id="deporteEspecifico" name="inputDeporteEspecifico" type="text" class="form-control" autocomplete="off" maxlength="40">
                                        <div class="campoObligatorioNotif" hidden>
                                            <span> {% trans "*Este campo es obligatorio"%} </span>
                                        </div>
                                    </div>
                                    <div class="grupoGeneroDeporte" style="margin-top: 10px;">
                                        <label for="generoDropdown">{% trans "G&eacute;nero" %}</label>
                                        <select class="form-control" id="generoDropdown" name="inputTipoDeporte">
                                            <option value="m">{% trans "Ambos" %}</option>
                                            <option value="m">{% trans "Masculino" %}</option>
                                            <option value="f">{% trans "Femenino" %}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-12">
                            <div class="form-group grupoPosiciones">
                                <div class="divPositionsSimple">
                                    <label for="posicionDropdown">
                                        <h4 class="titulo">{% trans "Qu&eacute; posici&oacute;n ocupas?" %}</h4>
                                    </label>
                                    <select class="form-control" id="posicionDropdown" name="inputPosicion">
                                    </select>
                                    <div class="campoObligatorioNotif" hidden>
                                        <span> {% trans "*Este campo es obligatorio"%} </span>
                                    </div>
                                </div>
                                <div class="divMultiplePositions" hidden>
                                    <label for="posicionDropdownMultiple">
                                        <h4 class="titulo">{% trans "Qu&eacute; posici&oacute;n ocupas?" %}</h4>
                                    </label>
                                    <select class="form-control selectpicker" title="{% trans 'Ninguno seleccionado' %}" name="inputPosicionMulti" id="posicionDropdownMultiple" multiple data-live-search="true" hidden>
                                    </select>
                                    <div class="campoObligatorioNotif" hidden>
                                        <span> {% trans "*Este campo es obligatorio"%} </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    <h4 class="titulo">{% trans "Datos de acceso" %}</h4>
                                </label>
                                <div>
                                    <div class="form-group">
                                        <label for="FormControlInputEmail">{% trans "Direcci&oacute;n email" %}</label>
                                        <input type="email" maxlength="100" class="form-control campoObligatorio" name="inputEmail" id="FormControlInputEmail" placeholder="{% trans 'nombre@siasportsagency.com' %}">
                                        <input type="text" style="display:none;">
                                        <div class="campoObligatorioNotif" hidden>
                                            <span> {% trans "*Este campo es obligatorio"%} </span>
                                        </div>
                                        <div class="campoCorreoExisteNotif" hidden>
                                            <span> {% trans "*Este correo ya existe en nuestra base de datos"%} </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password1">{% trans "Contraseña" %}</label>
                                        <input type="password" style="display:none;">
                                        <input type="password" name="inputPassword1" maxlength="50" class="form-control campoObligatorio" id="password1" placeholder="{% trans 'Contraseña' %}">
                                        <div class="campoObligatorioNotif" hidden>
                                            <span> {% trans "*Este campo es obligatorio"%} </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password2">{% trans "Repita contraseña" %}</label>
                                        <input type="password" maxlength="50" name="inputPassword2" class="form-control campoObligatorio" id="password2" placeholder="{% trans 'Contraseña' %}">
                                        <div class="campoObligatorioNotif" hidden>
                                            <span> {% trans "*Este campo es obligatorio"%} </span>
                                        </div>
                                        <div style="margin-top: 30px;">
                                            <div class="campoLongitudNotif" hidden>
                                                <span> {% trans "*La contraseña debe tener un mínimo de 8 carácteres"%}</span>
                                            </div>
                                            <div class="campoMinimoCarNotif" hidden>
                                                <span> {% trans "*La contraseña debe contener al menos un letra y un número"%}</span>
                                            </div>
                                            <div class="campoCarNoPermNotif" hidden>
                                                <span> {% trans "*La contraseña no debe contener carácteres especiales ni espacios en blanco"%}</span>
                                            </div>
                                            <div class="campoConMatchNotif" hidden>
                                                <span> {% trans "*Las contraseñas no coinciden"%}</span>
                                            </div>
                                        </div>
                                        <div style="margin-top: 30px;">
                                            <div id="password-strength-text"></div>
                                        </div>
                                    </div>
                                    <div class="form-check">
                                        <label class="labelCheckbox"> {% trans "He le&iacute;do y acepto las <a target='_blank' href='/condiciones_servicio'> Condiciones de servicio </a> y la <a target='_blank' href='/politica_privacidad'> Política de privacidad </a>" %}
                                            <input type="checkbox" id="aceptacionPolitica" value="true" name="aceptacionPoliticaInput">
                                            <span class="checkmark"></span>
                                        </label>
                                        <div class="campoPoliticaObl" hidden>
                                            <span> {% trans "*Debe aceptar la pol&iacute;tica de privacidad" %}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-light form-registration-btn rounded">
                            {% trans "Registrar" %}
                            <div class='loader loader-reg float-right' hidden/>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
