{% load static %}
{% load i18n %}
<div class="modal fade" id="detalleUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="detalleUsuarioModalTitle" aria-hidden="true">
    <div class="modal-dialog mw-100" role="document">
        <div class="modal-content modal-detalle">
            <div class="modal-header">
                <h2 class="modal-title" id="detalleLongTitle">{% trans "Detalle de" %} <span id="detalleNombre"></span></h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-xl-4">
                        <div class="row justify-content-center">
                            <div class="col-12 col-sm-6 col-xl-12">
                                <div class="seccion-cromo" style="text-align: center;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-8">
                        <div class="row" style="margin-top: 50px;">
                            <div class="col-6">
                                <h2> {% trans "Datos básicos" %} </h2>
                            </div>
                            <div class="seccion-mensaje col-6" style="text-align: right;">
                                <button class="btn btn-outline-light detalle-btn rounded btn-nuevo-correo"> {% trans "Enviar mensaje" %} </button>
                            </div>
                        </div>
                        <hr class="fila"/>
                        <div class="row">
                            <div class="col-12">
                                <h4>
                                    <span style="float:left; color: grey;">{% trans "Nombre:" %}&nbsp;</span>
                                    <span style="float:left;" id="detalleNombre"></span>
                                </h4>
                            </div>
                            <div class="col-12">
                                <h4 id="detalleRol" style='color: grey;'>
                                    {% trans "Rol:" %}&nbsp;
                                </h4>
                            </div>
                            <div class="col-12">
                                <h4 id="detalleGenero" style='color: grey;'>
                                    {% trans "G&eacute;nero:" %}&nbsp;
                                </h4>
                            </div>
                            <div class="col-12">
                                <h4 id="detalleDeporte" style='color: grey;'>
                                    {% trans "Deporte:" %}&nbsp;
                                </h4>
                            </div>
                            <div class="col-12">
                                <h4 id="detalleGeneroDeporte" style='color: grey;'>
                                    {% trans "G&eacute;nero deporte:" %}&nbsp;
                                </h4>
                            </div>
                            <div class="col-12">
                                <h4 id="detallePosicion" style='color: grey;'>
                                    {% trans "Posiciones:" %}&nbsp;
                                </h4>
                            </div>
                            <div class="col-12">
                                <h4 id="detalleEactual" style='color: grey;'>
                                    {% trans "Equipo actual:" %}&nbsp;
                                </h4>
                            </div>
                            <div class="col-12">
                                <h4 id="detalleEmail" style='color: grey;'>
                                    {% trans "Email:" %} &nbsp;
                                </h4>
                            </div>
                            <div class="col-12">
                                <h4 id="detalleFNacimiento" style='color: grey;'>
                                    {% trans "Fecha nacimiento:" %}&nbsp;
                                </h4>
                            </div>
                            <div class="col-12">
                                <h4 id="detallePais" style='color: grey;'>
                                    {% trans "Pa&iacute;s:" %}&nbsp;
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="datosEspecificos">
                    <div class="col-12">
                        <h2>{% trans "Datos específicos" %}</h2>
                        <hr class="fila"/>
                    </div>
                    <div class="col-12 col-xl-6">
                        <h4 id="detalleTelefono" style='color: grey;'>
                            {% trans "Tel&eacute;fono:" %}&nbsp;
                        </h4>
                    </div>
                    <div class="col-12 col-xl-6">
                        <h4 id="detalleUbicacion" style='color: grey;'>
                            {% trans "Ubicaci&oacute;n:" %}&nbsp;
                        </h4>
                    </div>
                    <div class="col-12">
                        <h4 id="detallePaginaWeb" style='color: grey;'>
                            {% trans "P&aacute;gina web:" %}&nbsp;
                        </h4>
                    </div>
                    <div class="col-12 col-xl-6">
                        <h4 id="detalleEdominante" style='color: grey;'>
                            {% trans "Extremidad dominante:" %}&nbsp;
                        </h4>
                    </div>
                    <div class="col-12 col-xl-6">
                        <h4 id="detalleNacionalidad" style='color: grey;'>
                            {% trans "Nacionalidad:" %}&nbsp;
                        </h4>
                    </div>
                    <div class="col-12 col-xl-6">
                        <h4 id="detallePeso" style='color: grey;'>
                            {% trans "Peso:" %}&nbsp;
                        </h4>
                    </div>
                    <div class="col-12 col-xl-6">
                        <h4 id="detalleAltura" style='color: grey;'>
                            {% trans "Altura:" %}&nbsp;
                        </h4>
                    </div>
                </div>
                <div class="row" id="datosPdf">
                    <div class="col-6" style="text-align: center;">
                        {% trans "Carta de presentación:" %}<a id="detalleCPresentacion" href="" download>&nbsp;&nbsp;<i class="fas fa-download"></i></a>
                    </div>
                    <div class="col-6" style="text-align: center;">
                        {% trans "Curriculum:" %}<a id="detalleCurriculum" href="" download>&nbsp;&nbsp;<i class="fas fa-download" disabled></i></a>
                    </div>
                </div>
                <div class="row" id="datosInteresadoEn">
                    <div class="col-12">
                        <h2 id="tituloInteresado">{% trans "Interesado en" %}</h2>
                        <h2 id="tituloDescripcion">{% trans "Descripci&oacute;n" %}</h2>
                        <hr class="fila"/>
                    </div>
                    <div class="col-12">
                        <div style="border: 2px solid grey !important; padding: 10px; margin-bottom: 20px; word-wrap: break-word;">
                            <span id="detalleInteresadoEn"></span>
                        </div>
                    </div>
                </div>
                <div class="row" id="datosRedes">
                    <div class="col-12" style="margin-bottom: 20px;">
                        <h2>{% trans "Redes sociales" %}</h2>
                        <hr class="fila"/>
                    </div>
                    <div class="col-3" style="text-align: center;">
                        <a id="detalleFacebook" target="_blank"><i class="fab fa-facebook-f fa-lg white-text fa-2x red-social red-social-fb"> </i></a>
                    </div>
                    <div class="col-3" style="text-align: center;">
                        <a id="detalleInstagram" target="_blank"><i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x red-social red-social-ig"> </i></a>
                    </div>
                    <div class="col-3" style="text-align: center;">
                        <a id="detalleTwitter" target="_blank"><i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x red-social red-social-tt"> </i></a>
                    </div>
                    <div class="col-3" style="text-align: center;">
                        <a id="detalleYouTube" target="_blank"><i class="fab fa-youtube fa-lg white-text mr-md-5 mr-3 fa-2x red-social red-social-yt"></i></a>
                    </div>
                </div>
                <div class="row" id="datosVideos">
                    <div class="col-12" style="margin-bottom: 20px;">
                        <h2>{% trans "Vídeos" %}</h2>
                        <hr class="fila"/>
                    </div>
                    <div id="detalleVideos" class="row col-12">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
