{% load static %}
{% load i18n %}
<div class="modal fade" id="nuevoEmailModalCenter" style="z-index:100000" tabindex="-1" role="dialog" aria-labelledby="nuevoEmailCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content modal-email">
            <div class="modal-header">
                <h2 class="modal-title">{% trans "Correo" %}</h2>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="enviar_correo/" method="post" class="form-email">
                    {% csrf_token %}
                    <div>
                        <label>{% trans "Destinatarios:" %} </label>
                        <input type="text" class="form-control destinatario destinatarios-nuevo" id="pepe" name="remitente">
                    </div>
                    <div>
                        <label>{% trans "Asunto:" %} </label>
                        <input type="text" class="form-control asunto-nuevo" name="asunto">
                    </div>
                    <div>
                        <label>{% trans "Mensaje:" %} </label>
                        <textarea name="mensaje" class="form-control cuerpo-nuevo" rows="5" cols="82"></textarea>
                    </div>
                    <div class="enviar-msj">
                        <a href="#" class="btn btn-primary btn-xs btn-nuevo-correo">
                            <i class="fas fa-paper-plane"></i> {% trans "Enviar" %}
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
