{% load static %}
{% load i18n %}
<div class="modal fade" id="cambioContraModalCenter" tabindex="-1" role="dialog" aria-labelledby="cambioContraModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content modal-cambio-contra">
            <div class="modal-header">
                <h5 class="modal-title">{% trans "Cambio de contraseña" %}</h5>
            </div>
            <form id="form-cambio-contrasena">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="password1">
                            <h5>{% trans "Contraseña nueva:" %}</h5>
                        </label>
                        <input class="form-control" maxlength="50" type="password" name="inputPassword" id="password1">
                        <label for="password2">
                            <h5>{% trans "Repita contraseña:" %}</h5>
                        </label>
                        <input class="form-control" maxlength="50" type="password" id="password2">
                    </div>
                    <div>
                        <div class="campoLongitudNotif" hidden>
                            <span> {% trans "*La contraseña debe tener un mínimo de 8 carácteres"%}</span>
                        </div>
                        <div class="campoMinimoCarNotif" hidden>
                            <span> {% trans "*La contraseña debe contener al menos un letra y un número"%}</span>
                        </div>
                        <div class="campoCarNoPermNotif" hidden>
                            <span> {% trans "*La contraseña no debe contener carácteres especiales ni espacios en blanco"%}</span>
                        </div>
                        <div class="campoConMatchNotif" hidden>
                            <span> {% trans "*Las contraseñas no coinciden"%}</span>
                        </div>
                    </div>
                    <div style="margin-top: 20px; width: 100%;">
                        <meter max="4" id="password-strength-meter"></meter>
                        <div id="password-strength-text"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cerrar" %}</button>
                    <button type="submit" class="btn btn-primary">{% trans "Cambiar" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
