{% extends 'sia_sports_agency/base.html' %}
{% block content %}

<!-- Modal -->
{% include "sia_sports_agency/modal_window_user.html" %}
{% load static %}

<div class="row">
    <!-- *** CABECERA DE LA BARRA LATERAL *** -->
    <div class="col-3 sidebar-header">
        <img class="img-cromo" src="{% static 'img/ejemploCromo.png' %}" />
            <p class="user-name">Alan Wilson</p>
        <div>
            <button type="button" class="btn cromo-btn btn-outline-light">Actualizar cromo</button>
        </div>
    </div>
    <!-- *** DATOS BASICOS *** -->
    <div class="col-9">
        <ul class="nav nav-tabs nav-justified tabs" style:"color: black;">
            <li class="nav-item">
                <a class="nav-link active datosBasicosTab" href="javascript:hideOrShowTabs('db')">Datos básicos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link datosAdicionaleTab" href="javascript:hideOrShowTabs('da')">Datos adicionales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mensajesTab" href="javascript:hideOrShowTabs('me')">Mensajes</a>
            </li>
        </ul>
        <!-- *** DATOS BASICOS *** -->
        <div class="row col-12" id="datosBasicos">
            <section class="panel panel-datos-basicos">
                <header class="panel panel-heading">
                    <h2 class="panel-title pull-left">Tus datos</h2>
                </header>
                <div class="row">
                    <div class="col-6">
                        <div class="form-perfil">
                            <label for="queEresDropdown">Rol</label>
                            <select class="form-perfil-control" id="queEresDropdown">
                                <option>Jugador</option>
                                <option>Club</option>
                                <option>Entrenado</option>
                                <option>Preparador físico</option>
                                <option>Representante</option>
                            </select>
                            <label for="FormControlInputEmail">Direcci&oacute;n email</label>
                            <input type="email" value="prueba@gmail.com" class="form-perfil-control input-lg" id="FormControlInputEmail">
                            <label for="FormControlInputNombre">Nombre y apellidos</label>
                            <input class="form-perfil-control" value="Nombre apellido1 apellido2" type="text" id="FormControlInputNombre">
                            <label for="sexoDropdown">Sexo</label>
                            <select class="form-perfil-control" id="sexoDropdown">
                                <option>Hombre</option>
                                <option>Mujer</option>
                            </select>
                            <label for="FormControlInputFNacimiento">F. Nacimiento</label>
                            <input class="form-perfil-control" type="date" name="bday" max="3000-12-31" min="1000-01-01" id="FormControlInputFNacimiento" class="form-perfil-control">
                            <label for="nacionalidadDropdown">Nacionalidad</label>
                            <select class="form-control-lg form-control selectpicker" id="nacionalidadDropdown" multiple data-live-search="true">
                                <option value="1" data-content="<span class='flag-icon flag-icon-es'></span> Espa&#241;a"></option>
                                <option data-content="<span class='flag-icon flag-icon-us'></span> USA"></option>
                                <option data-content="<span class='flag-icon flag-icon-fr'></span> France"></option>
                                <option data-content="<span class='flag-icon flag-icon-de'></span> Alemania"></option>
                                <option data-content="<span class='flag-icon flag-icon-it'></span> Italia"></option>
                                <option data-content="<span class='flag-icon flag-icon-be'></span> B&eacute;glica"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-perfil">
                            <label for="aQueJuegasDropdown">Deporte</label>
                            <select class="form-perfil-control" id="aQueJuegasDropdown">
                                <option>F&uacute;tbol</option>
                                <option>F&uacute;tbol Sala</option>
                            </select>
                            <label for="aQueJuegasDropdown">G&eacute;nero</label>
                            <select class="form-perfil-control" id="aQueJuegasDropdown">
                                <option>Masculino</option>
                                <option>Femenino</option>
                            </select>
                            <label for="posicionDropdown">Posici&oacute;</label>
                            <select class="form-perfil-control" id="posicionDropdown">
                                <option>Tight End</option>
                                <option>Center</option>
                                <option>...</option>
                            </select>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- *** DATOS ADICIONALES *** -->
        <div class="row col-12" id="datosAdicionales" style="display: none;">
            <section class="panel panel-networks">
				<header class="panel panel-heading">
					<h2 class="panel-title pull-left">Tus redes sociales</h2>
				</header>
				<div class="panel-body">
                    <div class="row">
                        <div class="col-1">
                            <a class="fb-ic">
                                <i class="fab fa-facebook-f fa-lg white-text fa-2x"> </i>
                            </a>
                        </div>
                        <div class="col-11">
                            <input type="text" name="username" id="username" class="username form-control" placeholder="Enlace facebook" value="">
                        </div>
                    </div><br/>
                    <div class="row">
                        <div class="col-1">
                            <a class="tw-ic">
                                <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                        </div>
                        <div class="col-11">
                            <input type="text" name="email" class=" email form-control" placeholder="Enlace twitter" value="">
                        </div>
                    </div><br/>
                    <div class="row">
                        <div class="col-1">
                            <a class="ins-ic">
                                <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                        </div>
                        <div class="col-11">
                            <input type="text" name="subject" class="subject form-control" placeholder="Enlace instagram" value="">
                        </div>
                    </div><br/>
                    <div class="row">
                        <div class="col-1">
                            <a class="ins-ic">
                                <i class="fab fa-youtube fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-11">
                            <input type="text" name="subject" class="subject form-control" placeholder="Enlace youtube" value="">
                        </div>
                    </div>
				</div>
			</section>
			<section class="panel">
				<header class="panel panel-heading">
					<h2 class="panel-title pull-left">Tus vídeos</h2>
				</header>
				<div id="trending-videos" class="panel-body">
					<div class="row">
						<div class="col-3">
							<div class="video-trending">
								<div class="video-thumb">
									<video controls="">
											<source src="{% static 'video/videos-perfil/ej1.mp4' %}" type="video/mp4">
									</video>
								</div>
								<div class="video-info">
									<h5 class="video-info-title"><a href="#">Praesent sagittis arcu et vehicula</a></h5>
								</div>
							</div>
						</div>
						<div class="col-3">
							<div class="video-trending">
								<div class="video-thumb">
									<video controls="">
											<source src="{% static 'video/videos-perfil/ej2.mp4' %}" type="video/mp4">
									</video>
								</div>
								<div class="video-info">
									<h5 class="video-info-title"><a href="#">Cras vitae consequat nisl</a></h5>
								</div>
							</div><!-- ./video-trending -->
						</div>
						<div class="clearfix visible-xs visible-sm"></div>
						<div class="col-3">
							<div class="video-trending">
								<div class="video-thumb">
									<video controls="">
											<source src="{% static 'video/videos-perfil/ej3.mp4' %}" type="video/mp4">
									</video>
								</div>
								<div class="video-info">
									<h5 class="video-info-title"><a href="#">Phasellus faucibus lacus est</a></h5>
								</div>
							</div><!-- ./video-trending-->
						</div>
						<div class="clearfix visible-md"></div>
						<div class="col-3">
							<div class="video-trending">
								<div class="video-thumb">
									<video controls="">
											<source src="{% static 'video/videos-perfil/ej4.mp4' %}" type="video/mp4">
									</video>
								</div>
								<div class="video-info">
									<h5 class="video-info-title"><a href="#">Suspendisse ac neque euismod</a></h5>
								</div>
							</div><!-- ./video-trending -->
						</div>
						<div class="col-3">
							<div class="video-trending">
								<div class="video-thumb">
									<video controls="">
											<source src="{% static 'video/videos-perfil/ej5.mp4' %}" type="video/mp4">
									</video>
								</div>
								<div class="video-info">
									<h5 class="video-info-title"><a href="#">Proin finibus dapibus urna</a></h5>
								</div>
							</div>
						</div>
                        <div class="col-3">
							<div class="video-trending video-add">
                                <i class="fa fa-plus-circle fa-xl white-text fa-3x" aria-hidden="true"></i>
							</div>
						</div>
					</div>
				</div>
			</section>
    	</div>
        <!-- *** MENSAJES *** -->
        <div class="row col-12" id="mensajes" style="display: none;">
            <section class="panel">
                <header class="panel panel-heading">
                    <h2 class="panel-title pull-left">Tus mensajes</h2>
                </header>
                <div class="panel-body">
                    <table class="table table-hover table-striped">
                        <thead class="mail-header">
                            <tr>
                                <th>Remitente</th>
                                <th>Asunto</th>
                                <th>Fecha</th>
                                <th>Cuerpo</th>
                                <th>Tipo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>aaron@siasportsagency.com</td>
                                <td>Consulta</td>
                                <td>15-05-2019</td>
                                <td>Buenas tardes, bla bla bla bla bla bla bla bla...</td>
                                <td>Correo</td>
                                <td>
                                    <a href="#" class="btn btn-primary btn-xs mail-ver">
                                        <i class="fas fa-eye"></i> Abrir
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>sergi@siasportsagency.com</td>
                                <td>Duda perfil</td>
                                <td>15-05-2019</td>
                                <td>Buenas tardes, bla bla bla bla bla bla bla bla...</td>
                                <td>Oferta</td>
                                <td>
                                    <a href="#" class="btn btn-primary btn-xs mail-ver">
                                        <i class="fas fa-eye"></i> Abrir
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>ivan@siasportsagency.com</td>
                                <td>Contrato</td>
                                <td>15-05-2019</td>
                                <td>Buenas tardes, bla bla bla bla bla bla bla bla...</td>
                                <td>Correo</td>
                                <td>
                                    <a href="#" class="btn btn-primary btn-xs mail-ver">
                                        <i class="fas fa-eye"></i> Abrir
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}
