{% extends 'sia_sports_agency/base.html' %}
{% block content %}
{% load static %}
{% static "" as baseUrl %}
{% load i18n %}
<div class="row">
    <!-- *** CABECERA DE LA BARRA LATERAL *** -->
    <div class="col-12 col-xl-3 sidebar-header">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="row" style="padding: 0px 0px 40px 0px; border-bottom: 5px solid #41494d;">
            <div class="notif-msj col col-6">
                <div class="navbar-collapse" >
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <!-- NOTA: Utilizar un componente Badge y desplazarlo hacia arriba -->
                            <a href="#" class="dropdown-toggle msg-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-2x"></i><span class="badge badge-messages">{{correos_nuevos.count}}</span>
                            </a>
                            <!-- *** MENÚ DE SUPERIOR DE MENSAJES *** -->
                            <!-- NOTA: Ocultar a tamaño -xs -->
                            <ul class="dropdown-menu menu-top menu-messages hidden">
                                <li class="header-msg-info">
                                    <small>
                                        <span class="float-left" style="margin-right: 50px; color: white;">{% trans "Tiene" %} <strong>{{correos_nuevos.count}}</strong> {% trans "mensajes nuevos." %}</span>
                                    </small>
                                </li>
                                <hr class="hr-msg" style="margin-top: 40px;"/>
                                {% for correo in correos_nuevos %}
                                <li id="mensajes-info-{{correo.id}}" class="lista-msg-info">
                                    <a class="lista-msg" data-toggle="modal" data-target="#emailModalCenter" id="{{correo.id}}">
                                        <div class="msg-body">
                                            <p class="msg-heading"><strong>{{correo.remitente.nombre}}</strong><small> - {{correo.fecha|date:'d/m/Y H:i'}}</small></p>
                                            <p>{{correo.cuerpo}}</p>
                                        </div>
                                    </a>
                                </li>
                                <hr id="hr-msg-{{correo.id}}" class="hr-msg"/>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="notif-visitas col col-6">
                <a href="#" class="dropdown-toggle msg-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-eye fa-2x"></i><span>{{n_visitas}} {% trans "visitas" %}</span>
                </a>
            </div>
        </div>
        <div class="row justify-content-center contenido-cromo">
            {% include "sia_sports_agency/cromo.html" %}
        </div>
    </div>
    <!-- *** DATOS BASICOS *** -->
    <div class="col col-12 col-xl-9">
        <div>
            <ul class="nav flex-column flex-md-row nav-tabs nav-justified tabs" style:"color: black;">
                <li class="nav-item">
                    <a class="nav-link active datosBasicosTab" href="javascript:hideOrShowTabs('db')"><span style="font-size: 30px;">{% trans "DATOS BÁSICOS" %}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link datosAdicionaleTab" href="javascript:hideOrShowTabs('da')"><span style="font-size: 30px;">{% trans "DATOS ADICIONALES" %}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mensajesTab" href="javascript:hideOrShowTabs('me')"><span style="font-size: 30px;">{% trans "MENSAJES" %}</span></a>
                </li>
            </ul>
        </div>
        <!-- *** DATOS BASICOS *** -->
        <div class="col-12" id="datosBasicos" >
            <section class="panel panel-datos-basicos">
                <header class="panel panel-heading">
                    <h4 class="panel-title pull-left">{% trans "Tus datos básicos" %}</h4>
                </header>
                <div class="panel-body">
                    <form id="form-datos-basicos">
                        <fieldset class="datosBasicosForm">
                            <div class="row">
                                <div class="col col-12 col-xl-6">
                                    <label for="queEresDropdown">
                                        <h4>{% trans "Rol" %}</h4>
                                    </label>
                                    <select class="form-control" id="queEresDropdown" name="inputTipoUsuario">
                                        {% for tipo in tipo_jugadores %}
                                        <option value="{{tipo.codigo|default:''}}" {% if tipo.codigo == usuario.tipo.codigo %} selected {% endif %}>{% trans tipo.nombre %}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col col-12 col-xl-6">
                                    <label for="FormControlInputAlias">
                                        <h4>{% trans "Alias" %}</h4>
                                    </label>
                                    <input type="text" value="{{usuario.alias|default:''}}" name="inputAlias" class="form-control" id="FormControlInputAlias" maxlength="13">
                                </div>
                                <div class="col col-12 col-xl-6">
                                    <label id="labelNombre" for="FormControlInputNombre">
                                        <h4 id="labelNombreApellidos" hidden>{% trans "Nombre y apellidos" %}</h4>
                                        <h4 id="labelNombreClub" hidden>{% trans "Nombre del club" %}</h4>
                                        <h4 id="labelSoloNombre" hidden> {% trans "Nombre" %}</h4>
                                        <h4 id="labelNombreEmpresa" hidden> {% trans "Nombre de la empresa" %}</h4>
                                        <h4 id="labelNombreMarca" hidden> {% trans "Nombre de la marca" %}</h4>
                                    </label>
                                    <input class="form-control" maxlength="100" value="{{usuario.nombre}}" name="inputNombre" type="text" id="FormControlInputNombre">
                                </div>
                                <div class="grupoSexo col col-12 col-xl-6">
                                    <label for="sexoDropdown">
                                        <h4>{% trans "Sexo" %}</h4>
                                    </label>
                                    <select class="form-control" id="sexoDropdown" name="inputSexo">
                                        <option value="m" {% if usuario.genero == 'm' %} selected {% endif %}>{% trans "Hombre" %}</option>
                                        <option value="f" {% if usuario.genero == 'f' %} selected {% endif %}>{% trans "Mujer" %}</option>
                                    </select>
                                </div>
                                <div class="grupoFechaNacimiento col col-12 col-xl-6" >
                                    <label>
                                        <h4>{% trans "F. Nacimiento" %}</h4>
                                    </label>
                                    <input class="form-control" name="inputNacimiento" type="date" value="{{usuario.fnacimiento|slugify}}" autocomplete="off">
                                </div>
                                <div class="col col-12 col-xl-6" >
                                    <label for="paisDropdown">
                                        <h4>{% trans "País" %}</h4>
                                    </label>
                                    <select class="form-control selectpicker" id="paisDropdown" name="inputPais" title="{% trans 'Ninguno seleccionado' %}" data-live-search="true" hidden>
                                        {% for pais in paises %}
                                        <option value="{{pais.codigo|default:''}}" {% if pais.codigo == usuario.pais.codigo %} selected {% endif %}
                                            data-content="<span class='flag-icon flag-icon-{{pais.codigo|lower}}'></span>&ensp;&ensp;{{pais.nombre}}"></option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="grupoAQueJuegas col col-12 col-xl-6">
                                    <label for="deporteInput">
                                        <h4>{% trans "Deporte" %}</h4>
                                    </label>
                                    <select class="form-control" id="deporteInput" name="inputDeporte">
                                        {% for deporte in deportes %}
                                        <option value="{{deporte.codigo|default:''}}" {% if deporte.codigo == usuario.deporte.codigo %} selected {% endif %}>{% trans deporte.nombre %}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="grupoEspecifique col col-12 col-xl-6" hidden>
                                    <label for="deporteEspecifico">
                                        <h4>{% trans "Deporte espec&iacute;fico" %}</h4>
                                    </label>
                                    <input value="{{usuario.deporte_especifico|default:''}}" id="deporteEspecifico" name="inputDeporteEspecifico" type="text" class="form-control" autocomplete="off" maxlength="40">
                                </div>
                                <div class="grupoGeneroDeporte col col-12 col-xl-6">
                                    <label for="generoInput">
                                        <h4>{% trans "G&eacute;nero" %}</h4>
                                    </label>
                                    <select class="form-control" id="generoInput" name="inputTipoDeporte">
                                        <option value="m" {% if usuario.tipo_deporte == 'm' %} selected {% endif %}>{% trans "Masculino" %}</option>
                                        <option value="f" {% if usuario.tipo_deporte == 'f' %} selected {% endif %}>{% trans "Femenino" %}</option>
                                    </select>
                                </div>
                                <div class="grupoPosiciones col col-12 col-xl-6">
                                    <div class="divPositionsSimple">
                                        <label for="posicionDropdown">
                                            <h4>{% trans "Posici&oacute;n" %}</h4>
                                        </label>
                                        <select class="form-control" id="posicionDropdown" name="inputPosicion">
                                        </select>
                                    </div>
                                    <div class="divMultiplePositions" hidden>
                                        <label for="posicionDropdownMultiple">
                                            <h4>{% trans "Posici&oacute;n" %}</h4>
                                        </label>
                                        <select class="form-control selectpicker" name="inputPosicionMulti" id="posicionDropdownMultiple" title="{% trans 'Ninguno seleccionado' %}" multiple data-live-search="true" hidden>
                                            {% for posicion in posiciones %}
                                            <option value="{{posicion.codigo}}|default:''">{{posicion.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col col-12">
                                    <button class="btn btn-db btn-outline-light float-right btn-editar rounded">
                                        <h5>{% trans "Editar" %}</h5>
                                    </button>
                                    <button class="btn btn-db btn-outline-light float-right btn-cancelar rounded" hidden>
                                        <h5>{% trans "Cancelar" %}</h5>
                                    </button>
                                    <button type="submit" class="btn btn-db btn-outline-light float-right btn-guardar rounded" hidden>
                                        <h5>{% trans "Guardar" %}</h5>
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </section>
        </div>
        <!-- *** DATOS ESPECIFICOS *** -->
        <div class="col-12" id="datosEspecificos" style="display: none;">
            <section class="panel panel-datos-especificos">
                <header class="panel panel-heading">
                    <h4 class="panel-title pull-left">{% trans "Tus datos específicos" %}</h4>
                </header>
                <div class="panel-body">
                    <form id="form-datos-especificos">
                        <fieldset class="datosEspecificosForm">
                            <div class="row">
                                <div class="col col-12 col-xl-6">
                                    <label for="telefono">
                                        <h4>{% trans "Tel&eacute;fono" %}</h4>
                                    </label>
                                    <input maxlength="20" type="text" value="{{usuario.telefono|default:''}}" name="inputTelefono" id="telefono" class="form-control">
                                </div>
                                <div class="grupoUbicacion col col-12 col-xl-6">
                                    <label for="ubicacion">
                                        <h4>{% trans "Ubicaci&oacute;n" %}</h4>
                                    </label>
                                    <input type="text" maxlength="100" value="{{usuario.ubicacion|default:''}}" name="inputUbicacion" id="ubicacion" class="form-control">
                                </div>
                                <div class="grupoPesoAltura col col-12 col-xl-6">
                                    <div class="row">
                                        <div class="col-6">
                                            <label for="peso">
                                                <h4>{% trans "Peso" %}</h4>
                                            </label>
                                            <div class="row">
                                                <div class="col-8">
                                                    {% load l10n %}
                                                    <input type="number" value="{{usuario.peso | unlocalize}}" name="inputPeso" id="peso" class="form-control" required step=".01">
                                                </div>
                                                <div class="col-4">
                                                    <select class="form-control" name="inputTipoPeso">
                                                        <option value="kg" {% if usuario.tipo_peso == 'kg' %} selected {% endif %}>kg</option>
                                                        <option value="lb" {% if usuario.tipo_peso == 'lb' %} selected {% endif %}>lb</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label for="altura">
                                                <h4>{% trans "Altura" %}</h4>
                                            </label>
                                            <div class="row">
                                                <div class="col-8">
                                                    <input type="number" value="{{usuario.altura|unlocalize}}" name="inputAltura" id="altura" class="form-control" required step=".01">
                                                </div>
                                                <div class="col-4">
                                                    <select class="form-control" name="inputTipoAltura">
                                                        <option value="cm" {% if usuario.tipo_altura == 'cm' %} selected {% endif %}>cm</option>
                                                        <option value="pulgadas" {% if usuario.tipo_altura == 'pulgadas' %} selected {% endif %}>{% trans "pulgadas" %}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="grupoEDominante col col-12 col-xl-6">
                                    <label for="edominante">
                                        <h4>{% trans "Extremidad dominante" %}</h4>
                                    </label>
                                    <select class="form-control" id="edominante" name="inputEdominante">
                                        {% for extremidad in extremidades %}
                                        <option value="{{extremidad.codigo|default:''}}" {% if usuario.extremidad.codigo == extremidad.codigo %} selected {% endif %}>{{extremidad.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="grupoNacionalidad col col-12 col-xl-6">
                                    <label for="nacionalidad">
                                        <h4>{% trans "Nacionalidad" %}</h4>
                                    </label>
                                    <input type="text" maxlength="60" value="{{usuario.nacionalidad|default:''}}" name="inputNacionalidad" id="nacionalidad" class="form-control">
                                </div>
                                <div class="grupoEActual col col-12 col-xl-6">
                                    <label for="eactual">
                                        <h4>{% trans "Equipo actual" %}</h4>
                                    </label>
                                    <input type="text" maxlength="60" value="{{usuario.eactual|default:''}}" name="inputEactual" id="eactual" class="form-control">
                                </div>
                                <div class="grupoCPresentacion col col-12 col-xl-6">
                                    <label for="cpresentacion">
                                        <h4>{% trans "Carta de presentaci&oacute;n" %}</h4>
                                    </label>
                                    <div class="row">
                                        <div class="col-10">
                                            <div class="custom-file" id="cpresentacion">
                                                <input type="file" class="custom-file-input" accept=".pdf" id="customFileCarta" lang="es" name="inputCpresentacion" hidden>
                                                {% if usuario.cpresentacion %}
                                                    <label class="custom-file-label form-control" for="customFileCarta">{% trans "Carta de presentaci&oacute;n" %}</label>
                                                {% else %}
                                                    <label class="custom-file-label form-control" for="customFileCarta">{% trans "Seleccionar Archivo" %}</label>
                                                {% endif %}
                                            </div>
                                            <input type="text" id="emptyFileCarta" name="emptyFileCarta" hidden>
                                        </div>
                                        <div class="col-2 cpresentacion-elimina" hidden>
                                            <i class="fas fa-trash-alt fa-2x"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="grupoCurriculum col col-12 col-xl-6">
                                    <label for="curriculum">
                                        <h4>Currículum</h4>
                                    </label>
                                    <div class="row">
                                        <div class="col-10">
                                            <div class="custom-file" id="curriculum">
                                                <input type="file" class="custom-file-input" accept=".pdf" id="customFileCurriculum" name="inputCurriculum" lang="es" hidden>
                                                {% if usuario.curriculum %}
                                                    <label class="custom-file-label form-control" for="customFileCurriculum">Curriculum</label>
                                                {% else %}
                                                    <label class="custom-file-label form-control" for="customFileCurriculum">{% trans "Seleccionar Archivo" %}</label>
                                                {% endif %}
                                            </div>
                                            <input type="text" value="0" id="emptyCurriculum" name="emptyCurriculum" hidden>
                                        </div>
                                        <div class="col-2 curriculum-elimina" hidden>
                                            <i class="fas fa-trash-alt fa-2x"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="grupoInteresadoEn col col-12 col-xl-6">
                                    <label for="interesadoen">
                                        <h4>{% trans "Interesado en" %}</h4>
                                    </label>
                                    <textarea id="interesadoen" class="form-control" name="inputInteresadoen" maxlength="500" rows="6" cols="50">{{usuario.interesadoen|default:''}}</textarea>
                                </div>
                            </div>

                            <button class="btn btn-de btn-outline-light float-right btn-editar rounded">
                                <h5>{% trans "Editar" %}</h5>
                            </button>
                            <button class="btn btn-de btn-outline-light float-right btn-cancelar rounded" hidden>
                                <h5>{% trans "Cancelar" %}</h5>
                            </button>
                            <button type="submit" class="btn btn-de btn-outline-light float-right btn-guardar rounded" hidden>
                                <h5>{% trans "Guardar" %}</h5>
                            </button>
                        </fieldset>
                    </form>
                </div>
            </section>
            <section class="panel panel-networks">
                <header class="panel panel-heading">
                    <h4 class="panel-title pull-left">{% trans "Tus redes sociales" %}</h4>
                </header>
                <div class="panel-body">
                    <form id="form-redes-sociales">
                        <fieldset class="datosRedesForm">
                            <div class="row">
                                <div class="col-2 col-xl-1 align-self-center">
                                    <a class="fb-ic" href="{{red_FB}}" target="_blank">
                                        <i class="fab fa-facebook-f fa-lg white-text fa-2x red-social red-social-fb"> </i>
                                    </a>
                                </div>
                                <div class="col-10 col-xl-11">
                                    <input maxlength="300" type="text" name="inputFacebook" class="form-control enlace-facebook" placeholder="Enlace facebook" value="{{red_FB}}">
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-2 col-xl-1 align-self-center">
                                    <a class="tw-ic" href="{{red_TT}}" target="_blank">
                                        <i class="fab fa-twitter fa-lg white-text fa-2x red-social red-social-tt"> </i>
                                    </a>
                                </div>
                                <div class="col-10 col-xl-11">
                                    <input maxlength="300"  type="text" name="inputTwitter" class="form-control enlace-twitter" placeholder="Enlace twitter" value="{{red_TT}}">
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-2 col-xl-1 align-self-center">
                                    <a class="ins-ic" href="{{red_IG}}" target="_blank">
                                        <i class="fab fa-instagram fa-lg white-text fa-2x red-social red-social-ig"> </i>
                                    </a>
                                </div>
                                <div class="col-10 col-xl-11">
                                    <input maxlength="300"  type="text" name="inputInstagram" class="form-control enlace-insta" placeholder="Enlace instagram" value="{{red_IG}}">
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-2 col-xl-1 align-self-center">
                                    <a class="yt-ic" href="{{red_YT}}" target="_blank">
                                        <i class="fab fa-youtube fa-lg white-text fa-2x red-social red-social-yt"></i>
                                    </a>
                                </div>
                                <div class="col-10 col-xl-11">
                                    <input maxlength="300"  type="text" name="inputYoutube" class="form-control enlace-youtube" placeholder="Enlace youtube" value="{{red_YT}}">
                                </div>
                            </div>
                            <button class="btn btn-de btn-outline-light float-right btn-editar rounded">
                                <h5>{% trans "Editar" %}</h5>
                            </button>
                            <button class="btn btn-de btn-outline-light float-right btn-cancelar rounded" hidden>
                                <h5>{% trans "Cancelar" %}</h5>
                            </button>
                            <button type="submit" class="btn btn-de btn-outline-light float-right btn-guardar rounded" hidden>
                                <h5>{% trans "Guardar" %}</h5>
                            </button>
                        </fieldset>
                    </form>
                </div>
            </section>
            <!-- *** GALERIA DE VIDEOS *** -->
            <section class="panel">
                <header class="panel panel-heading">
                    <h4 class="panel-title pull-left">{% trans "Tus v&iacute;deos" %}</h4>
                </header>
                <div class="video-gallery panel-body">
                    <div class="row video-list">
                        {% for video in videos %}
                        <div class="col col-12 col-xl-3">
                            <div>
                                <div class="video-thumb">
                                    <video controls="">
                                        <source src="{{ baseUrl }}{{video.path}}" type="video/mp4">
                                    </video>
                                </div>
                                <div class="video-info">
                                    <h5 class="video-info-title"><a href="#">
                                            <h4>{{video.nombre}}</h4>
                                        </a></h5>
                                </div>
                                <div class="video-options">
                                    <div class="row justify-content-center">
                                        <div id="{{video.id}}" class="option-delete col-12">
                                            <form class="form-eliminar-video-{{video.id}}" method="POST" action="eliminar_video/">
                                                {% csrf_token %}
                                                <input name="idVideo" type="text" value="{{video.id}}" hidden>
                                                <i class="fas fa-trash-alt fa-2x"></i>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col col-12 col-xl-3 videos">
                            <div class="video-gallery video-add">
                                <i class="fa fa-plus-circle fa-xl white-text fa-3x video-icon" aria-hidden="true" data-toggle="modal" data-target="#uploadModalCenter"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- *** MENSAJES *** -->
        <div class="col-12" id="mensajes" style="display: none;">
            <div style="margin-bottom: 20px;">
                <ul class="nav">
                    <li class="btn-bandeja-entrada active">
                        <a class="nav-link" href="#">{% trans "Bandeja de entrada" %} ({{correos_nuevos.count}})</a>
                    </li>
                    <li class="btn-elementos-enviados">
                        <a class="nav-link" href="#">{% trans "Elementos enviados" %}</a>
                    </li>
                </ul>
            </div>
            <section class="panel panel-email bandeja-entrada-section">
                <header class="panel panel-heading">
                    <div class="enviar-msj">
                        <a href="#" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#nuevoEmailModalCenter">
                            <i class="fas fa-paper-plane"></i> {% trans "Nuevo mensaje" %}
                        </a>
                    </div>
                    <h4 class="panel-title pull-left">{% trans "Tus mensajes" %}</h4>
                </header>
                <div class="panel-body">
                    <table class="table table-striped tabla-correos table-responsive" >
                        <thead class="mail-header">
                            <tr>
                                <th>{% trans "Remitente" %}</th>
                                <th>{% trans "Asunto" %}</th>
                                <th>{% trans "Fecha" %}</th>
                                <th>{% trans "Cuerpo" %}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for correo in bandeja %}
                            <tr id="correo-{{correo.id}}" {% if correo.leido == 0 %} class="mensaje-no-leido" {% endif %}>
                                <td>{{correo.remitente.email}}</td>
                                <td>{{correo.asunto}}</td>
                                <td>{{correo.fecha|date:'d/m/Y H:i' }}</td>
                                <td>{{correo.cuerpo}}</td>
                                <td class="columna-botones">
                                    <div style="float: right;">
                                        <a href="#" style="margin-right: 10px;" class="btn btn-primary btn-xs mail-ver" id="{{correo.id}}" data-toggle="modal" data-target="#emailModalCenter">
                                            <i class="fas fa-eye"></i> {% trans "Abrir" %}
                                        </a>
                                        <a href="#" style="float: right;" class="btn btn-primary btn-xs mail-responder" id="{{correo.id}}" data-toggle="modal" data-target="#emailModalCenter">
                                            <i class="fas fa-reply"></i> {% trans "Responder" %}
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="panel panel-email elementos-enviados-section" hidden>
                <header class="panel panel-heading">
                    <div class="enviar-msj">
                        <a href="#" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#nuevoEmailModalCenter">
                            <i class="fas fa-paper-plane"></i> {% trans "Nuevo mensaje" %}
                        </a>
                    </div>
                    <h4 class="panel-title pull-left">{% trans "Tus mensajes" %}s</h4>
                </header>
                <div class="panel-body">
                    <table class="table table-striped tabla-correos table-responsive">
                        <thead class="mail-header">
                            <tr>
                                <th>{% trans "Destinatario" %}</th>
                                <th>{% trans "Asunto" %}</th>
                                <th>{% trans "Fecha" %}</th>
                                <th>{% trans "Cuerpo" %}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for correo in correos_enviados %}
                            <tr class="fila-correo {% if correo.leido == 0 %} 'mensaje-no-leido' {% endif %}">
                                <td>{{correo.remitente.email}}</td>
                                <td>{{correo.asunto}}</td>
                                <td>{{correo.fecha|date:'d/m/Y H:i' }}</td>
                                <td>{{correo.cuerpo}}</td>
                                <td class="columna-botones">
                                    <div style="float: right;">
                                        <a href="#" class="btn btn-primary btn-xs mail-ver" id="{{correo.id}}" data-toggle="modal" data-target="#emailModalCenter">
                                            <i class="fas fa-eye"></i> {% trans "Abrir" %}
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}
