{% extends 'sia_sports_agency/base.html' %}
{% block content %}
{% load static %}
{% load i18n %}
<div class="container" style="overflow-x: hidden !important;">
    <div class="row" style="margin: auto; font-size: 20px;">
        <div class="col-12" style="padding: 50px 0px 50px 0px;">
            <div style="text-align: center;">
                <h3>POLÍTICA DE PRIVACIDAD</h3>
            </div><br/>
            <p>
                En cumplimiento de los requisitos dispuestos en la Ley 34/2002 LSSICE, y al REGLAMENTO (UE)
                2016/679 DEL PARLAMENTO EUROPEO Y DEL CONSEJO de 27 de abril de 2016 relativo a la protección de las
                personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de estos
                datos le informamos que:
            </p>
            <p>
                Normalmente es posible utilizar nuestro sitio web sin necesidad de aportar datos personales. Si tus datos
                personales (Ej. nombre, dirección o correo electrónico) son recopilados en nuestro sitio web, es, dentro de lo
                posible, siempre opcional.
            </p>
            <p>
                Aquí te contamos cuando recogemos datos, quién es el responsable de los datos recogidos, la legitimidad de
                esa recogida, para que fin los recogemos, que hacemos con tus datos , como los protegemos y como puedes ejercer
                tus derechos.
            </p>
            <p>
                Lo más importante: No vamos a compartir, vender, alquilar tu información personal con otras partes. Si
                podremos compartir cierta información con los proveedores de servicios necesarios para poder prestar nuestros
                servicios, para suministrarte información, acceso a la web (empresa alojamiento web, gestoría,…)
            </p><br/>
            <div style="text-align: center; font-weight: bold;">
                1. Quién es el responsable de sus datos, a quién facilita sus datos:
            </div><br/>
            <p>
                www.siasportsagency.com, del que es titular Sergio Giménez Pastor, con NIF 53251286F,
                domicilio social en C/Pintor Stolz 54, planta 7º, 46018 Valencia  - España,
                (en adelante, “ www.siasportsagency.com”), es el responsable del tratamiento de los datos
                recogidos-obtenidos a través de este sitio web apps y otros medios digitales o impresos en
                los que  www.siasportsagency.com solicite datos personales.
            </p><br/>
            <div style="text-align: center; font-weight: bold;">
                2. Resumen de cómo usamos tus datos:
            </div><br/>
            <p>
                www.siasportsagency.com utiliza sus datos personales para distintas finalidades, según
                la relación que le una con  www.siasportsagency.com, bien sea responder a sus consultas,
                administrar su relación como cliente, bien para facilitarle el acceso como usuario registrado
                en el web, o para enviarle información acerca del web como usuario suscrito , y en todos
                los casos para garantizar que podamos comunicarnos con usted de manera eficiente ante
                cualquier novedad o aviso relacionado con su tipo de relación con el sitio web.
            </p><br/>
            <div style="text-align: center; font-weight: bold;">
                Sistemas de captura de datos, finalidades, legitimización y tiempo del tratamiento
                de sus datos:
            </div><br/>
            <p>
                Si usted ha rellenado un formulario de contacto para hacer una consulta, pedir
                información y presupuestos y ha marcado la casilla correspondiente de aceptación
                la base legal o legitimización del tratamiento de sus datos es su consentimiento, en
                este caso sus datos serán tratados únicamente con la finalidad de poder responder a su
                consulta, serán eliminados a los 30 días tras la última comunicación que tengamos con
                usted, y sólo se conservarán registros con fines estadísticos e históricos.
            </p>
            <p>
                Si usted se registra en la web mediante el formulario de registro para disponer de
                una cuenta de usuario y acceder a áreas que sea requerido usuario y contraseña y ha marcado
                la casilla correspondiente de aceptación, tenemos su consentimiento explicito e informado,
                la base legal o legitimización del tratamiento de sus datos es su consentimiento ,
                la finalidad del tratamiento de sus datos será la de autenticarle en el sistema y darle
                acceso a dichas áreas privadas. Sus datos serán eliminados cuando su registro como usuario
                sea deshabilitado o dado de baja. En cualquier momento podrá darse de baja como usuario
                registrado.
            </p>
            <p>
                Si usted contrata alguno de nuestros servicios, la base legal o legitimización del
                tratamiento de sus datos es la de la relación contractual formalizada y la finalidad del
                tratamiento de sus datos será la de llevar las oportunas gestiones administrativas,
                facturación, atención al cliente , Notificaciones técnicas de seguridad, de soporte y
                de actualización de servicios, comunicaciones de modificaciones en precios o condiciones
                de sus servicios, encuestas de calidad y satisfacción y otras comunicaciones vinculadas a
                los servicios que tenga contratados, así como las legales exigidas ante las administraciones
                públicas. Sus datos serán eliminados según establece la ley a los 6 años tras la
                finalización de la relación como cliente.
            </p>
            <p>
                Si usted se suscribe a nuestra lista de mailing o nos indica su deseo de recibir
                información comercial de nuestra empresa y servicios, y ha marcado la casilla
                correspondiente de aceptación la base legal o legitimización del tratamiento de sus
                datos es su consentimiento , la finalidad del tratamiento de sus datos será la de enviarle
                información comercial, novedades, promociones y publicidad de nuestros servicios y productos.
                Usted podrá darse de baja en cualquier momento, enviando mail a siasportsagency@gmail.com con
                el asunto BAJA, o desde el propio mail que reciba en cada comunicado podrá clikar en un
                enlace para darse de baja de la lista de suscriptores.
            </p>
            <p>
                <span style="font-weight: bold;">Cookies:</span> Cuando el usuario se registra o navega en esta web, se almacenan “cookies”,
                El usuario puede consultar en cualquier momento la política de cookies para ampliar
                información sobre el uso de cookies y como desactivarlas.
            </p>
            <p>
                <span style="font-weight: bold;">Google (Analytics):</span> Sistema de rastreo utilizadas en este sitio: con estas plataformas de
                terceros se estudian las preferencias de sus usuarios, sus características demográficas, sus
                patrones de tráfico, y otra información en conjunto para comprender mejor quiénes constituyen
                nuestra audiencia y qué es lo que esta necesita.
            </p><br/>
            <div style="text-align: center; font-weight: bold;">
                ¿Qué información recopilamos, cual es la categoria de los datos que tratamos?
            </div><br/>
            <p>
                Recopilamos y procesamos datos personales sobre usted cuando interactúa con nosotros
                y nuestros sitios web, y cuando usted se registra en el sitio web. En base de cada tipo de
                actuación le solicitaremos unos datos u otros.
            </p>
            <p>
                Por ejemplo, en un formulario de contacto le pediremos teléfono , mail y su nombre,
                sin embargo en un registro de usuario necesitaremos también su fecha de nacimiento, deporte
                que practicas y otros datos relacionados con su actividad deportiva para iniciar el alta de
                su perfil dentro del web.
            </p><br/>
            <div style="text-align: center; font-weight: bold;">
                La categoría de datos que solicitamos y recogemos son datos de carácter identificativo,
                e incluyen:
            </div><br/>
            <ul>
                <li>Tu nombre</li>
                <li>Tu correo electrónico</li>
                <li>su número de teléfono</li>
                <li>fecha de nacimiento</li>
                <li>Su sexo</li>
                <li>Deporte que practicas y como lo practicas (jugador, entrenador,…)</li>
                <li>información relacionada con el navegador o dispositivo que usa para acceder a nuestro sitio web;
                <li>La IP desde la que se conecta, para verificar nuestras comunicaciones y/o suministrar esa información ante requerimiento de Fuerzas y Cuerpos de Seguridad del Estado, Jueces, Ministerio Fiscal, Tribunales, Tribunal de Cuentas o Defensor del Pueblo.</li>
                <li>Sus hábitos deportivos, proyectos, imágenes, videos y otra información que el usuario registrado irá incorporando a su perfil voluntariamente.</li>
            </ul><br/>
            <div style="text-align: center; font-weight: bold;">
                MEDIDAS DE SEGURIDAD
            </div><br/>
            <p>
                www.siasportsagency.com le informa que tiene implantadas las medidas de seguridad de
                índole técnica y organizativas necesarias para garantizar la seguridad de sus datos de
                carácter personal y evitar su alteración, pérdida y tratamiento y/o acceso no autorizado,
                habida cuenta del estado de la tecnología, la naturaleza de los datos almacenados y los
                riesgos a que están expuestos, ya provengan de la acción humana o del medio físico o natural.
                Todo ello de conformidad con lo previsto en el RGPD.
            </p>
            <p>
                Asimismo,  www.siasportsagency.com ha establecido medidas adicionales en orden a reforzar la
                confidencialidad e integridad de la información en su organización. Manteniendo continuamente
                la supervisión, control y evaluación de los procesos para asegurar el respeto a la privacidad
                de los datos.
            <p/><br/>
            <div style="text-align: center; font-weight: bold;">
                ¿Qué derechos tengo?
            </div><br/>
            <p>
                Tiene derecho a solicitarnos una copia de sus datos personales; para corregir, eliminar o
                restringir (detener cualquier activo) el procesamiento de sus datos personales; y para obtener
                los datos personales que nos proporciona para un contrato o con su consentimiento en un
                formato estructurado y legible por máquina, y para pedirnos que compartamos (portemos)
                estos datos a otro responsable.
            </p>
            <p style="font-weight: bold;">
                Además, puede renunciar, cancelar, suprimir el procesamiento de sus datos personales en
                cualquier momento.
            </p>
            <p>
                Estos derechos pueden estar limitados, por ejemplo, si nos solicita que eliminemos información
                que la ley nos exige mantener o que tenga intereses legítimos obligatorios.
            </p>
            <p style="font-weight: bold;">
                Derechos:
            </p>
            <p>
                <ul>
                    <li>Derecho de acceso a sus datos personales.</li>
                    <li>Derecho a solicitar su rectificación o supresión.</li>
                    <li>Derecho a solicitar la limitación de su tratamiento.</li>
                    <li>Derecho de oposición al tratamiento de sus datos.</li>
                    <li>Derecho a la portabilidad de los datos.</li>
                    <li>Derecho a retirar el consentimiento prestado.</li>
                </ul>
            </p>
            <br/>
            <div style="text-align: center; font-weight: bold;">
                A quienes comunican mis datos, quien más tiene acceso a mis datos
            </div><br/>
            <p>
                www.siasportsagency.com podrá comunicar sus datos para atender sus obligaciones con las
                Administraciones Públicas en los casos que así se requiera de acuerdo con la Legislación
                vigente y, en su caso igualmente, a otros órganos como Fuerzas y Cuerpos de Seguridad del
                Estado, Jueces, Ministerio Fiscal, Tribunales, Tribunal de Cuentas o Defensor del Pueblo.
            </p>
            <p>
                Igualmente a los datos personales del CLIENTE podrán tener acceso terceras compañías o
                profesionales con los que trabaja  www.siasportsagency.com (Asesoria, Proveedor alojamiento
                web, agencias de marketing,,..) y que son necesarios para la prestación del servicio tanto
                de acceso al web, comunicaciones a través del web , contrataciones de servicios, envío de
                información comercial , obligaciones legales y/o recogida de datos.
            </p>
            <p>
                En ningún caso estas empresas podrán hacer uso de sus datos para otra finalidad distinta a
                la prevista en el contrato de tratamiento por cuenta de terceros suscrito con cada una
                de ellas.
            </p>
            <p>
                www.siasportsagency.com , a tal efecto y como responsable del fichero, suscribirá un
                contrato de prestación de servicios con terceros que traten sus datos, estos actuarán
                como Encargados del Tratamiento de conformidad con la RGPD. En dicho contrato, se recogerán
                las instrucciones de  www.siasportsagency.com al Encargado del tratamiento para la
                utilización de los datos, el nivel y medidas de seguridad aplicables a los mismos y
                las garantías establecidas para el uso y eliminación de los datos una vez terminado
                el servicio contratado.
            </p><br/>
            <div style="text-align: center; font-weight: bold;">
                Otros terceros con acceso a datos a través de Cookies: analíticas web y redes sociales
            </div><br/>
            <p>
                Usamos la herramienta estadística del servicio de Google Analytics. Estos servicios
                utilizan “cookies” donde recoge información para su servicio analítico Web y su servicio
                publicitario. Más información al respecto en nuestra política de Cookies.
            </p>
            <p>
                En nuestra página web ofrecemos enlaces y servicios relacionados con las diferentes
                redes sociales ( p.ej “Me gusta” de Facebook). Si eres miembro de una red social y haces
                clic sobre el correspondiente enlace, el proveedor de la red social podrá enlazar tus datos
                de perfil con la información e tu visita a dicha página web.
            </p>
            <p>
                Facebook: En las páginas de las webs de  www.siasportsagency.com que ofrecemos contenidos
                de Facebook, este utiliza "cookies" para seleccionar el contenido que se ofrece en cada
                espacio. Toda la información sobre el uso de "cookies" que hace Facebook se puede encontrar
                en el siguiente enlace: http://www.facebook.com/help/cookies?ref_type=sitefooter.
                Más información al respecto en nuestra política de Cookies.
            </p>
            <p>
                En el caso de que el usuario comparta algún contenido de los portales web de
                www.siasportsagency.com con determinadas redes sociales, existe la posibilidad
                de que estos sitios incluyan alguna "cookie" cuando registran su servicio.
                www.siasportsagency.com no tiene control sobre la difusión y la gestión de
                estas "cookies" y se recomienda al usuario que consulte la información relativa
                a sus políticas de privacidad.
            </p>
            <p>
                En los portales web de  www.siasportsagency.com, apps u otros medios digitales,
                hay veces que se insertan fotos y contenidos de vídeo de sitios web como YouTube,
                Instagram y Flickr. El contenido está insertado en nuestros webs y existe la posibilidad
                de que los sitios web de referencia dispongan de "cookies".  www.siasportsagency.com no
                tiene el control sobre la difusión y la gestión de estas "cookies" y, por lo tanto, se
                recomienda que se revisen las políticas de privacidad de estos sitios web para determinarlo.
            </p>
            <p>
                Puedes acceder en todo momento a las políticas de privacidad de las diferentes
                redes sociales, así como configurar tu perfil para garantizar su privacidad.
                Os animamos a conocer las condiciones de uso de dichas redes sociales antes de
                comenzar a usarlas:
            </p>
            <p>
                <ul>
                    <li><a target="_blank" href="https://www.facebook.com/help/323540651073243/">Facebook: https://www.facebook.com/help/323540651073243/</a></li>
                    <li><a target="_blank" href="http://www.google.es/intl/es/policies/privacy/">Youtube: http://www.google.es/intl/es/policies/privacy/</a></li>
                    <li><a target="_blank" href="http://www.google.es/intl/es/policies/privacy/">Google Plus: http://www.google.es/intl/es/policies/privacy/</a></li>
                    <li><a target="_blank" href="https://twitter.com/privacy">Twitter: https://twitter.com/privacy</a></li>
                    <li><a target="_blank" href="https://help.instagram.com/155833707900388">Instagram: https://help.instagram.com/155833707900388</a></li>
                </ul>
            </p><br/>
            <div style="text-align: center; font-weight: bold;">
                En cualquier caso  www.siasportsagency.com se compromete a aplicar las
                siguientes garantías:
            </div><br/>
            <p>
                <ul>
                    <li>
                        1.	A no ceder en ningún caso, a terceras personas, los datos recabados,
                        fuera de las finalidades descritas en cada recogida de datos y la obligaciones
                        legales aplicables.
                    </li>
                    <li>
                        2.	A utilizar los datos personales única y exclusivamente para las finalidades indicadas.
                    </li>
                    <li>
                        3.	A eliminar los datos personales del USUARIO o interesado, que incluirá
                        el siguiente plazo de eliminación de dichos datos: se conservarán mientras se mantenga
                        la relación con la entidad y no se solicite su supresión por el interesado, también serán
                        conservados conforme a los plazos legales establecidos.
                    </li>
                </ul>
            </p>
            <p>
                Asimismo,  www.siasportsagency.com pone en conocimiento del usuario que
                cualquier otra cesión de datos que deba realizar será puesta en su conocimiento
                cuando así lo prevea o autorice la normativa aplicable en materia de protección de datos,
                informándole de modo expreso, preciso e inequívoco de los destinatarios de la información,
                de la finalidad a que se destinarán los datos, y de la naturaleza de los datos cedidos,
                 en su caso cuando la normativa de protección de datos aplicable lo establezca,
                 previamente se solicitará el consentimiento inequívoco, específico e informado al usuario.
            </p><br/>
            <div style="text-align: center; font-weight: bold;">
                ACEPTACIÓN, CONSENTIMIENTO Y REVOCABILIDAD
            </div><br/>
            <p>
                El Usuario declara haber sido informado de las condiciones sobre protección de datos
                de carácter personal, aceptando y consintiendo el tratamiento de los mismos por parte de
                www.siasportsagency.com y para las finalidades indicadas en el aviso
                legal.
            </p>
            <p>
                Como bien sabes y según se ha mencionado anteriormente, en cualquier momento
                podrá revocar sus datos, pero siempre sin carácter retroactivo.
            </p><br/>
            <div style="text-align: center; font-weight: bold;">
                CAMBIOS EN LA PRESENTE POLÍTICA DE PRIVACIDAD
            </div><br/>
            <p>
                 www.siasportsagency.com  se reserva el derecho a modificar
                 la presente política para adaptarla a novedades legislativas o jurisprudenciales
                 así como a prácticas de la industria. En dichos supuestos, el Prestador anunciará en
                 esta página los cambios introducidos con razonable antelación a su puesta en práctica.
             </p>
        </div>
    </div>
</div>
{% endblock %}
